<%include ./partials/header%>
<div class="ui container">
    <h1>SignUp!!</h1>
    <form action="/signup" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <input type="submit" value="submit">
    </form>
</div>
<%include ./partials/footer%>