<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Slider | K2 Framework </title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/k2framework.css" />
	<link rel="stylesheet" href="../css/style.css" />
	<link rel="stylesheet" href="../css/avalanche.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
	<div>
		<div class="slider-wrapper">
			<div id="tm-slider-2" class="tm-slider-container" style="width:825px;height:550px;">
				<ul class="tms-slides">	
					<li class="tms-slide" data-image>
						<div class="tms-caption" 
							data-x="center"
							data-y="center"
							data-offsetx="0"
							data-offsety="0"
							data-animate-in="scale:2;opacity:0;duration:400ms;easing:swing"
							style="color: #ffffff;font-size:30px;line-height:30px;text-transform:uppercase;border:2px solid white;padding:5px 15px;"
						>
						Avalanche Slider
						</div>
						<img data-src="../images/slider/slide-1.jpg" src="../images/blank.png" alt=""/>
					</li>
					<li class="tms-slide" data-image>
						<div class="tms-caption" 
							data-x="center"
							data-y="center"
							data-offsety="-25px"
							data-animate-in="opacity:0;transY:300;scale:2;delay:0ms;duration:500ms"
							style="color: #ffffff;font-size:20px;font-weight:bold;"
						>
						FULLY CSS3 TRANSITION DRIVEN
						</div>
						<div class="tms-caption" 
							data-x="center"
							data-y="center"
							data-offsety="0"
							data-animate-in="opacity:0;transY:300;scale:2;delay:300ms"
							style="color: #ffffff;font-size:30px;font-weight:bold;"
							>
							WITH BEAUTIFUL CAPTION ANIMATIONS
						</div>
						<img data-src="../images/slider/slide-2.jpg" src="../images/blank.png" alt="" />
					</li>
					<li class="tms-slide" data-image>
						<div class="tms-caption" 
							data-x="center"
							data-y="top"
							data-offsety="110px"
							data-animate-in="opacity:0;transY:-100;delay:0ms;duration:600ms;"
							style="color: #ffffff;font-size:30px;font-weight:bold;"
							>
							FULLY RESPONSIVE
						</div>
						<div class="tms-caption" 
							data-x="center"
							data-y="top"
							data-offsety="140px"
							data-animate-in="opacity:0;transY:100;delay:600ms;duration:600ms;"
							style="color: #ffffff;font-size:20px;font-weight:bold;"
							>
							FROM DESKTOP DOWN TO MOBILE
						</div>
						<div class="tms-caption" 
							data-x="center"
							data-y="center"
							data-offsety="170px"
							data-animate-in="opacity:0;transY:400;delay:800ms;duration:600ms;"
							style="width:500px;"
							>
							<img data-src="../images/assets/browser.svg" src="../images/blank.png" alt="" />
						</div>
						<div class="tms-caption" 
							data-x="center"
							data-y="center"
							data-offsety="200px"
							data-animate-in="opacity:0;transY:400;delay:800ms;duration:600ms;"
							style="width:130px;"
							>
							<img data-src="../images/assets/iphone.svg" src="../images/blank.png" alt="" />
						</div>
						<img data-src="../images/slider/slide-3.jpg" src="../images/blank.png" alt="" />
					</li>
				</ul>
			</div>
		</div>	
	</div>
</body>
</html>