<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Grid | K2 Framework </title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/k2framework.css" />
	<link rel="stylesheet" href="../css/style.css" />

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>
	<div>
		<div class="wrapper">
			<div class="wrapper-inner">
				
				<!-- Header -->
				<header class="nav-bar nav-main">
					<div class="row">
						<div class="column width-12">
							<div class="logo">
								<a href="../index.html">Timber Framework</a>
							</div>
							<nav class="navigation nav-right">
								<ul>
									<li>
										<a href="../index.html">Get Started</a>
									</li>
									<li class="current">
										<a href="components/grid.html">Toolkit</a>
									</li>
									<li>
										<a href="http://thememountain.com">The Mountain</a>
									</li>
									<li>
										<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</header>
				<!-- Header End -->

				<!-- Content -->
				<div class="content clearfix">
					<div class="section-header fill-background">
						<div class="page-title-container row large">
							<div class="column width-12">
								<h1>Hi There!</h1>
							</div>
						</div>
					</div>
					<div class="row large">
						<div class="column width-12">
							<p class="lead">This page was loaded with ajax.</p>
							<button id="close-window" class="bkg-navy rounded">Close Window</button>
							<button id="prev-link" class="bkg-navy rounded">Prev</button>
							<button id="next-link" class="bkg-navy rounded">Next</button>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum ante et sapien dignissim in viverra magna feugiat. Donec tempus ipsum nec neque dignissim quis eleifend eros gravida. Praesent nisi massa, sodales quis tincidunt ac, semper quis risus. In suscipit nisl sed leo aliquet consequat. Integer vitae augue in risus porttitor pellentesque eu eget odio. Fusce ut sagittis quam. Morbi aliquam interdum blandit. Integer pharetra tempor velit, aliquam dictum justo tempus sed. Morbi congue fringilla justo a feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent quis metus et nisl consectetur pharetra. Nam bibendum turpis eu metus luctus eu volutpat sem molestie. Nam sollicitudin porttitor lorem, ac ultricies est venenatis eu. Ut dignissim elit et orci feugiat ac placerat purus euismod. Ut mi lorem, cursus et sagittis elementum, luctus ac massa.</p>
						</div>
					</div>
				</div>
				<!-- Content End -->

				<!-- Footer -->
				<footer class="footer">
					<div class="row large center">
						<div class="column width-12">
							<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
							<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
							<nav id="footer-navigation" class="navigation nav-center">
								<ul>
									<li>
										<a href="../index.html">Get Started</a>
									</li>
									<li>
										<a href="http://thememountain.com">The Mountain</a>
									</li>
									<li>
										<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
									</li>
								</ul>
							</nav>
							<p><span class="version-number">Current Version</span></p>
							<p class="copyright">&copy; 2016 THEMEMOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
							<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
						</div>
					</div> 
				</footer>
				<!-- End Footer -->
			</div>
		</div>
	</div>

	<!-- Js -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
</body>
</html>