<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Avalanche Slider | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/core.min.css" />

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>
	
	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation">
					<ul>
						<li>
							<a href="../index.html">Get Started</a>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Components</a>
							<ul class="sub-menu">
								<li>
									<a href="grid.html">Grid</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
								<li>
									<a href="navigation.html">Navigation</a>
								</li>
								<li>
									<a href="blockquotes.html">Blockquotes</a>
								</li>
								<li>
									<a href="feature-columns.html">Feature Columns</a>
								</li>
								<li>
									<a href="lists.html">Lists</a>
								</li>
								<li>
									<a href="buttons.html">Buttons</a>
								</li>
								<li>
									<a href="labels.html">Labels</a>
								</li>
								<li>
									<a href="dropdown.html">Dropdown</a>
								</li>
								<li>
									<a href="accordion.html">Accordion </a>
								</li>
								<li>
									<a href="tabs.html">Tabs</a>
								</li>
								<li>
									<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
								</li>
								<li>
									<a href="boxes.html">Boxes</a>
								</li>
								<li>
									<a href="images.html">Images</a>
								</li>
								<li>
									<a href="video.html">Video &amp; Audio</a>
								</li>
								<li>
									<a href="tables.html">Tables</a>
								</li>
								<li>
									<a href="pricing-tables.html">Pricing Tables</a>
								</li>
								<li>
									<a href="form-elements.html">Form Elements</a>
								</li>
								<li>
									<a href="icons.html">Icons</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Classes</a>
							<ul class="sub-menu">
								<li>
									<a href="styling-classes.html">Styling Classes</a>
								</li>
								<li>
									<a href="helper-classes.html">Helper Classes</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Plugins</a>
							<ul class="sub-menu">
								<li class="current">
									<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">The Mountain</a>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		<div class="wrapper-inner">
		
			<!-- Header -->
			<header class="nav-bar nav-main">
				<div class="row">
					<div class="column width-12">
						<div class="logo">
							<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
						</div>
						<nav class="navigation nav-block secondary-navigation nav-right no-margin-left">
							<ul>
								<li class="aux-navigation hide">
									<!-- Aux Navigation -->
									<a href="#" class="navigation-show side-nav-show nav-icon">
										<span class="icon-menu"></span>
									</a>
								</li>
							</ul>
						</nav>
						<nav class="navigation nav-block primary-navigation nav-right">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="components/grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">
				<div class="section-block intro-title-1 small">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<h1>Avalanche: Carousel</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row large">
					<div class="column width-9 push-3">
						<h3>Images</h3>
						<div id="tm-slider-1" class="tm-slider-container" style="width:825px;height:150px;">
							<ul class="tms-slides">	
								<li class="tms-slide" data-image>
									<img data-src="../images/slider/slide-1.jpg" data-retina src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image>
									<img data-src="../images/slider/slide-2.jpg" data-retina src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image>
									<img data-src="../images/slider/slide-3.jpg" data-retina src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image>
									<img data-src="../images/slider/slide-4.jpg" data-retina src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image>
									<img data-src="../images/slider/slide-5.jpg" data-retina src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image>
									<img data-src="../images/slider/slide-7.jpg" data-retina src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image>
									<img data-src="../images/slider/slide-9.jpg" data-retina src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image>
									<img data-src="../images/slider/slide-10.jpg" data-retina src="../images/blank.png" alt=""/>
								</li>
							</ul>
						</div>
						<hr>
						<h3>Logos</h3>
						<div id="tm-slider-2" class="tm-slider-container" style="height:150px;">
							<ul class="tms-slides">	
								<li class="tms-slide" data-image style="background:#fff;">
									<img data-src="../images/theme-mountain-logo.svg" src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image style="background:#fff;">
									<img data-src="../images/theme-mountain-logo.svg" src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image style="background:#fff;">
									<img data-src="../images/theme-mountain-logo.svg" src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image style="background:#fff;">
									<img data-src="../images/theme-mountain-logo.svg" src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image style="background:#fff;">
									<img data-src="../images/theme-mountain-logo.svg" src="../images/blank.png" alt=""/>
								</li>
							</ul>
						</div>
						<hr>
						<h3>Custom Content</h3>
						<div id="tm-slider-3" class="tm-slider-container" style="height:350px;">
							<ul class="tms-slides">	
								<li class="tms-slide">
									<div class="carousel-box box bkg-red-light color-white rounded center">
										<span style="margin-bottom:20px;" class="icon-music feature-icon circled medium"></span>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
									</div>
								</li>
								<li class="tms-slide">
									<div class="carousel-box box bkg-navy-light color-white rounded center">
										<span style="margin-bottom:20px;" class="icon-download feature-icon circled medium"></span>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
									</div>
								</li>
								<li class="tms-slide">
									<div class="carousel-box box bkg-green-light color-white rounded center">
										<span style="margin-bottom:20px;" class="icon-note feature-icon circled medium"></span>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
									</div>
								</li>
								<li class="tms-slide">
									<div class="carousel-box box bkg-yellow-light color-white rounded center">
										<span style="margin-bottom:20px;" class="icon-star feature-icon circled medium"></span>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
									</div>
								</li>
								<li class="tms-slide">
									<div class="carousel-box box bkg-purple-light-light color-white rounded center">
										<span style="margin-bottom:20px;" class="icon-heart feature-icon circled small"></span>
										<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="clear"></div>
						<h3>Carousel</h3>
						<p>The slider can easily be turned into a simple carousel of images, showing any number of slides at a given time. All images displayed in a carousel must be of same width and height. </p>
						<p><strong>IMPORTANT:</strong> Showing more than one slide at the time will automatically disable video APIs and caption scaling/postitioning. In cases where more than one slide is shown and captions are required, use CSS and create specific classes.</p>
						<hr>
						<h5>Initializing Carousel</h5>
						<p>To active a carousel style slider set carousel to true and specify the number of slides that should be visible at a time.</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="js">
									$( document ).ready( function(){
										$( '.tm-slider-container' ).avalancheSlider({
											carousel:true,
											carouselVisible:3
										});
									});
								</code>
							</pre>
						</div>
						<hr>
						<h5>Further Examples</h5>
						<ul class="examples-list circle">
							<li><a href="avalanche-slider-example-one.html">No images</a></li>
							<li><a href="avalanche-slider-example-two.html">Landscape & Portrait</a></li>
							<li><a href="avalanche-slider-example-three.html">Videos</a></li>
							<li class="current"><a href="avalanche-slider-example-four.html">Carousel</a></li>
							<li><a href="avalanche-slider-example-five.html">Fullwidth</a></li>
							<li><a href="avalanche-slider-example-six.html">Fullscreen</a></li>
							<li><a href="avalanche-slider-example-seven.html">API Example</a></li>
						</ul>
					</div>
					<aside class="sidebar column width-3 pull-9">
						<h3 class="widget-title">Components</h3>
						<ul class="list-group width-11">
							<li>
								<a href="grid.html">Grid</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
							<li>
								<a href="navigation.html">Navigation</a>
							</li>
							<li>
								<a href="blockquotes.html">Blockquotes</a>
							</li>
							<li>
								<a href="feature-columns.html">Feature Columns</a>
							</li>
							<li>
								<a href="lists.html">Lists</a>
							</li>
							<li>
								<a href="buttons.html">Buttons</a>
							</li>
							<li>
								<a href="labels.html">Labels</a>
							</li>
							<li>
								<a href="dropdown.html">Dropdown</a>
							</li>
							<li>
								<a href="accordion.html">Accordion </a>
							</li>
							<li>
								<a href="tabs.html">Tabs</a>
							</li>
							<li>
								<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
							</li>
							<li>
								<a href="boxes.html">Boxes</a>
							</li>
							<li>
								<a href="progress-bar.html">Progress Bars</a>
							</li>
							<li>
								<a href="images.html">Images</a>
							</li>
							<li>
								<a href="video.html">Video &amp; Audio</a>
							</li>
							<li>
								<a href="tables.html">Tables</a>
							</li>
							<li>
								<a href="pricing-tables.html">Pricing Tables</a>
							</li>
							<li>
								<a href="form-elements.html">Form Elements</a>
							</li>
							<li>
								<a href="icons.html">Icons</a>
							</li>
						</ul>
						<h3 class="widget-title">Classes</h3>
						<ul class="list-group width-11">
							<li>
								<a href="styling-classes.html">Styling Classes</a>
							</li>
							<li>
								<a href="helper-classes.html">Helper Classes</a>
							</li>
						</ul>
						<h3 class="widget-title">Plugins</h3>
						<ul class="list-group width-11">
							<li class="current">
								<span class="icon-right-open-mini"></span>
								<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
						</ul>
					</aside>
				</div>
			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="row large center">
					<div class="column width-12">
						<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
						<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
						<nav id="footer-navigation" class="navigation nav-center">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
						<p><span class="version-number">Current Version</span></p>
						<p class="copyright">&copy; 2016 THEMEMOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
						<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
					</div>
				</div> 
			</footer>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
	<script type="text/javascript">
		$( document ).ready( function() {
			$( '#tm-slider-1' ).avalancheSlider({
				animation: 'slide',
				autoAdvance: false,
				carousel: true,
				carouselVisible: 3,
				carouselScaleHeight: true,
				lazyLoad: true
			});
			$( '#tm-slider-2' ).avalancheSlider({
				animation: 'slide',
				autoAdvance: true,
				carousel: true,
				carouselVisible: 3,
				carouselScaleHeight: false,
				navArrows: false,
				navPagination: false,
				showProgressBar: false
			});
			$( '#tm-slider-3' ).avalancheSlider({
				animation: 'slide',
				autoAdvance: false,
				carousel: true,
				carouselVisible: 3,
				carouselScaleHeight: true,
				navArrows: false,
				navPagination: true,
				lazyLoad: true
			});
		});
	</script>
</body>
</html>