<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Avalanche Slider | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/core.min.css" />

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation">
					<ul>
						<li>
							<a href="../index.html">Get Started</a>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Components</a>
							<ul class="sub-menu">
								<li>
									<a href="grid.html">Grid</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
								<li>
									<a href="navigation.html">Navigation</a>
								</li>
								<li>
									<a href="blockquotes.html">Blockquotes</a>
								</li>
								<li>
									<a href="feature-columns.html">Feature Columns</a>
								</li>
								<li>
									<a href="lists.html">Lists</a>
								</li>
								<li>
									<a href="buttons.html">Buttons</a>
								</li>
								<li>
									<a href="labels.html">Labels</a>
								</li>
								<li>
									<a href="dropdown.html">Dropdown</a>
								</li>
								<li>
									<a href="accordion.html">Accordion </a>
								</li>
								<li>
									<a href="tabs.html">Tabs</a>
								</li>
								<li>
									<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
								</li>
								<li>
									<a href="boxes.html">Boxes</a>
								</li>
								<li>
									<a href="images.html">Images</a>
								</li>
								<li>
									<a href="video.html">Video &amp; Audio</a>
								</li>
								<li>
									<a href="tables.html">Tables</a>
								</li>
								<li>
									<a href="pricing-tables.html">Pricing Tables</a>
								</li>
								<li>
									<a href="form-elements.html">Form Elements</a>
								</li>
								<li>
									<a href="icons.html">Icons</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Classes</a>
							<ul class="sub-menu">
								<li>
									<a href="styling-classes.html">Styling Classes</a>
								</li>
								<li>
									<a href="helper-classes.html">Helper Classes</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Plugins</a>
							<ul class="sub-menu">
								<li class="current">
									<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">The Mountain</a>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		<div class="wrapper-inner">
		
			<!-- Header -->
			<header class="nav-bar nav-main">
				<div class="row">
					<div class="column width-12">
						<div class="logo">
							<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
						</div>
						<nav class="navigation nav-block secondary-navigation nav-right no-margin-left">
							<ul>
								<li class="aux-navigation hide">
									<!-- Aux Navigation -->
									<a href="#" class="navigation-show side-nav-show nav-icon">
										<span class="icon-menu"></span>
									</a>
								</li>
							</ul>
						</nav>
						<nav class="navigation nav-block primary-navigation nav-right">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="components/grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">
				<div class="section-block intro-title-1 small">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<h1>Avalanche: API</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row large">
					<div class="column width-9 push-3">
						<div id="tm-slider-2" class="tm-slider-container" style="width:825px;height:550px;">
								<ul class="tms-slides">	
									<li class="tms-slide" data-image>
										<h1 class="tms-caption color-white border-white lspacing-small padded no-margins weight-light" 
											data-x="center"
											data-y="center"
											data-offsetx="0"
											data-offsety="0"
											data-animate-in="scale:2;opacity:0;duration:400ms;easing:swing"
											>
											<strong>AVALANCHE</strong> SLIDER
										</h1>
										<img data-src="../images/slider/slide-7.jpg" data-retina src="../images/blank.png" alt=""/>
									</li>
									<li class="tms-slide" data-image>
										<div class="tms-caption color-white lspacing-small weight-light" 
											data-x="center"
											data-y="center"
											data-offsety="-10px"
											data-animate-in="opacity:0;transY:300;scale:2;delay:0ms;duration:500ms"
											style="font-size:20px;"
											>
											FULLY CSS3 TRANSITION DRIVEN
										</div>
										<div class="tms-caption color-white weight-bold lspacing-small" 
											data-x="center"
											data-y="center"
											data-offsety="10"
											data-animate-in="opacity:0;transY:300;scale:2;delay:300ms"
											style="font-size:25px;"
											>
											WITH BEAUTIFUL CAPTION ANIMATIONS
										</div>
										<img data-src="../images/slider/slide-2.jpg" data-retina src="../images/blank.png" alt="" />
									</li>
									<li class="tms-slide" data-image>
										<div class="tms-caption weight-light color-white lspacing-small" 
											data-x="center"
											data-y="top"
											data-offsety="110px"
											data-animate-in="opacity:0;transY:-100;delay:0ms;duration:600ms;"
											style="font-size:30px;"
											>
											FULLY RESPONSIVE
										</div>
										<div class="tms-caption weight-bold color-white" 
											data-x="center"
											data-y="top"
											data-offsety="140px"
											data-animate-in="opacity:0;transY:100;delay:600ms;duration:600ms;"
											style="font-size:20px;"
										>
											FROM DESKTOP DOWN TO MOBILE
										</div>
										<div class="tms-caption" 
											data-x="center"
											data-y="center"
											data-offsety="170px"
											data-animate-in="opacity:0;transY:400;delay:600ms;duration:600ms;"
											style="width:500px;"
											>
											<img data-src="../images/assets/browser.svg" src="../images/blank.png" alt="" />
										</div>
										<div class="tms-caption" 
											data-x="center"
											data-y="center"
											data-offsety="200px"
											data-animate-in="opacity:0;transY:400;delay:800ms;duration:600ms;"
											style="width:340px;"
											>
											<img data-src="../images/assets/iphone.svg" src="../images/blank.png" alt="" />
										</div>
										<img data-src="../images/slider/slide-4.jpg" data-retina src="../images/blank.png" alt="" />
									</li>
									<li class="tms-slide" data-image>
										<div class="tms-caption" 
											data-x="center"
											data-y="center"
											data-offsety="-40px"
											data-animate-in="opacity:0;delay:300ms;duration:600ms;"
											style="width:20%;border-bottom:1px solid #fff"
											>
										</div>
										<div class="tms-caption weight-light color-white" 
											data-x="center"
											data-y="center"
											data-offsetx="0"
											data-offsety="-10px"
											data-animate-in="opacity:0;transX:500;"
											style="font-size:20px;line-height:20px;"
											>
											SUPPORTS
										</div>
										<div class="tms-caption weight-bold color-white" 
											data-x="center"
											data-y="center"
											data-offsetx="0"
											data-offsety="10px"
											data-animate-in="opacity:0;transX:-500;"
											style="font-size:20px;line-height:20px;"
											>
											HTML5 VIDEO, YOUTUBE & VIMEO
										</div>
										<div class="tms-caption" 
											data-x="center"
											data-y="center"
											data-offsety="40px"
											data-animate-in="opacity:0;delay:300ms;duration:600ms;"
											style="width:20%;border-bottom:1px solid #fff"
											>
										</div>
										<img data-src="../images/slider/slide-10.jpg" data-retina src="../images/blank.png" alt="" />
									</li>
									<li class="tms-slide" data-image>
										<div class="tms-caption weight-light color-white lspacing-small" 
											data-x="center"
											data-y="center"
											data-offsetx="0"
											data-offsety="-12px"
											data-animate-in="opacity:0;rotateX:180;scale:2;duration:400ms;easing:swing"
											style="font-size:25px;"
											>
											A SIMPLE BUT POWERFUL SLIDER
										</div>
										<div class="tms-caption color-white weight-bold" 
											data-x="center"
											data-y="center"
											data-offsetx="0"
											data-offsety="12px"
											data-animate-in="opacity:0;rotateY:-180;scale:2;delay:400ms;duration:400ms;easing:swing"
											style="font-size:20px;"
											>
											BY THEMEMOUNTAIN
										</div>
										<img data-src="../images/slider/slide-5.jpg" data-retina src="../images/blank.png" alt="" />
									</li>
								</ul>
							</div>
						<div class="clear"></div>
						<div class="button-group">
							<button id="prev-slide" style="margin-right:5px;" class="api-button bkg-navy color-white rounded">Prev Slide</button>
							<button id="next-slide" style="margin-right:5px;" class="api-button bkg-navy color-white rounded">Next Slide</button>
							<button id="slide-to" style="margin-right:5px;" class="api-button bkg-navy color-white rounded">Go to slide 5</button>
							<button id="init-slideshow" style="margin-right:5px;" class="api-button bkg-navy color-white rounded">Start SlideShow</button>
							<button id="pause-slideshow" style="margin-right:5px;" class="api-button bkg-navy color-white rounded">Pause SlideShow</button>
							<button id="resume-slideshow" style="margin-right:5px;" class="api-button bkg-navy color-white rounded">Resume SlideShow</button>
							<button id="end-slideshow" style="margin-right:5px;" class="api-button bkg-navy color-white rounded">End SlideShow</button>
						</div>
						<hr>
						<h3 id="api">API</h3>
						<p>To Avalanche Slider plugin offers several callbacks and methods for interacting with the slider.</p>
						<div class="row">
							<div class="column width-12">
								<div class="tabs">
									<ul class="tab-nav">
										<li class="active">
											<a href="#tab-content-1">Callbacks</a>
										</li>
										<li>
											<a href="#tab-content-2">Methods</a>
										</li>
									</ul>
									<div class="tab-panes">
										<div id="tab-content-1" class="active">
											<div class="tab-content">
												<table class="table rounded large">
													<thead>
														<tr>
															<th>Callback</th>
															<th>Description</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>onSetup</td>
															<td>Called upon slider creation, onSetup: function({})</td>
														</tr>
														<tr>
															<td>onLoadEnd</td>
															<td>Called once all slides are loaded, onLoadEnd: function({})</td>
														</tr>
														<tr>
															<td>onSlideBefore</td>
															<td>Called before slide animation, onSlideBefore: function({})</td>
														</tr>
														<tr>
															<td>onSlideAfter</td>
															<td>Called before slide animation, onSlideAfter: function({})</td>
														</tr>
														<tr>
															<td>onSlideshowStart</td>
															<td>Called once slideshow begins, onSlideshowStart: function({})</td>
														</tr>
														<tr>
															<td>onSlideshowStart</td>
															<td>Called once slideshow begins, onSlideshowStart: function({})</td>
														</tr>
														<tr>
															<td>onSlideshowPause</td>
															<td>Called once slideshow is paused, onSlideshowPause: function({})</td>
														</tr>
														<tr>
															<td>onSlideshowEnd</td>
															<td>Called once slideshow is ended, onSlideshowEnd: function({})</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<div id="tab-content-2">
											<div class="tab-content">
												<h6>7 Methods</h6>
												<p> The lighbox offers three public methods, namely .prevContent(), .nextContent(), and .destroyLightbox() which are particularly useful if the lightbox is used as a modal or self navigated projects. Use these medthods for controlling the lightbox from within the loaded content. Works best for inline and ajax loaded content.</p>
												<table class="table rounded large">
													<thead>
														<tr>
															<th>Medthod</th>
															<th>Example</th>
															<th>Description</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>prevSlide</td>
															<td>var slider = $( '.tm-slider-container' ).data( 'avalancheSlider' );<br> slider.prevSlide()</td>
															<td>Moves slider to previous slide</td>
														</tr>
														<tr>
															<td>nextSlide</td>
															<td>var slider = $( '.tm-slider-container' ).data( 'avalancheSlider' );<br> slider.nextSlide()</td>
															<td>Moves to slider to next slide</td>
														</tr>
														<tr>
															<td>slideTo</td>
															<td>var slider = $( '.tm-slider-container' ).data( 'avalancheSlider' );<br> slider.slideTo(index)</td>
															<td>Slides to given slide</td>
														</tr>
														<tr>
															<td>initSlideshow</td>
															<td>var slider = $( '.tm-slider-container' ).data( 'avalancheSlider' );<br> slider.initSlideshow()</td>
															<td>Creates and initiates slideshow</td>
														</tr>
														<tr>
															<td>pauseSlideshow</td>
															<td>var slider = $( '.tm-slider-container' ).data( 'avalancheSlider' );<br> slider.pauseSlideshow()</td>
															<td>Pauses slideshow</td>
														</tr>
														<tr>
															<td>resumeSlideshow</td>
															<td>var slider = $( '.tm-slider-container' ).data( 'avalancheSlider' );<br> slider.resumeSlideshow()</td>
															<td>Resumes slideshow</td>
														</tr>
														<tr>
															<td>endSlideshow</td>
															<td>var slider = $( '.tm-slider-container' ).data( 'avalancheSlider' );<br> slider.endSlideshow()</td>
															<td>Ends and removes slideshow elements</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<h5>Further Examples</h5>
						<ul class="examples-list circle">
							<li><a href="avalanche-slider-example-one.html">No images</a></li>
							<li><a href="avalanche-slider-example-two.html">Landscape & Portrait</a></li>
							<li><a href="avalanche-slider-example-three.html">Videos</a></li>
							<li><a href="avalanche-slider-example-four.html">Carousel</a></li>
							<li><a href="avalanche-slider-example-five.html">Fullwidth</a></li>
							<li><a href="avalanche-slider-example-six.html">Fullscreen</a></li>
							<li class="current"><a href="avalanche-slider-example-seven.html">API Example</a></li>
						</ul>
					</div>
					<aside class="sidebar column width-3 pull-9">
						<h3 class="widget-title">Components</h3>
						<ul class="list-group width-11">
							<li>
								<a href="grid.html">Grid</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
							<li>
								<a href="navigation.html">Navigation</a>
							</li>
							<li>
								<a href="blockquotes.html">Blockquotes</a>
							</li>
							<li>
								<a href="feature-columns.html">Feature Columns</a>
							</li>
							<li>
								<a href="lists.html">Lists</a>
							</li>
							<li>
								<a href="buttons.html">Buttons</a>
							</li>
							<li>
								<a href="labels.html">Labels</a>
							</li>
							<li>
								<a href="dropdown.html">Dropdown</a>
							</li>
							<li>
								<a href="accordion.html">Accordion </a>
							</li>
							<li>
								<a href="tabs.html">Tabs</a>
							</li>
							<li>
								<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
							</li>
							<li>
								<a href="boxes.html">Boxes</a>
							</li>
							<li>
								<a href="progress-bar.html">Progress Bars</a>
							</li>
							<li>
								<a href="images.html">Images</a>
							</li>
							<li>
								<a href="video.html">Video &amp; Audio</a>
							</li>
							<li>
								<a href="tables.html">Tables</a>
							</li>
							<li>
								<a href="pricing-tables.html">Pricing Tables</a>
							</li>
							<li>
								<a href="form-elements.html">Form Elements</a>
							</li>
							<li>
								<a href="icons.html">Icons</a>
							</li>
						</ul>
						<h3 class="widget-title">Classes</h3>
						<ul class="list-group width-11">
							<li>
								<a href="styling-classes.html">Styling Classes</a>
							</li>
							<li>
								<a href="helper-classes.html">Helper Classes</a>
							</li>
						</ul>
						<h3 class="widget-title">Plugins</h3>
						<ul class="list-group width-11">
							<li class="current">
								<span class="icon-right-open-mini"></span>
								<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
						</ul>
					</aside>
				</div>
			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="row large center">
					<div class="column width-12">
						<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
						<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
						<nav id="footer-navigation" class="navigation nav-center">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
						<p><span class="version-number">Current Version</span></p>
						<p class="copyright">&copy; 2016 THEMEMOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
						<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
					</div>
				</div> 
			</footer>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
	<script type="text/javascript">
		$( document ).ready( function() {
				$( '.tm-slider-container' ).avalancheSlider({
				animation: 'slide',
				autoAdvance: false,
				carousel: false,
				lazyLoad: false,
				navShowOnHover: true
			});
			 
			$( '.api-button' ).on( 'click', function(){
				$( '.api-button' ).removeClass( 'active' );
				$( this ).addClass( 'active' );
			});
			var s = $( '.tm-slider-container' ).data( 'avalancheSlider' );
			$( '#prev-slide' ).on( 'click', function(){
				s.prevSlide();
			});
			$( '#next-slide' ).on( 'click', function(){
				s.nextSlide();
			});
			$( '#slide-to' ).on( 'click', function(){
				s.slideTo( 5 );
			});
			$( '#init-slideshow' ).on( 'click', function(){
				s.initSlideshow();
			});
			$( '#pause-slideshow' ).on( 'click', function(){
				s.pauseSlideshow();
			});
			$( '#resume-slideshow' ).on( 'click', function(){
				s.resumeSlideshow();
			});
			$( '#end-slideshow' ).on( 'click', function(){
				s.endSlideshow();
			});
		});
	</script>
</body>
</html>