<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Avalanche Slider | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/core.min.css" />

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation">
					<ul>
						<li>
							<a href="../index.html">Get Started</a>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Components</a>
							<ul class="sub-menu">
								<li>
									<a href="grid.html">Grid</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
								<li>
									<a href="navigation.html">Navigation</a>
								</li>
								<li>
									<a href="blockquotes.html">Blockquotes</a>
								</li>
								<li>
									<a href="feature-columns.html">Feature Columns</a>
								</li>
								<li>
									<a href="lists.html">Lists</a>
								</li>
								<li>
									<a href="buttons.html">Buttons</a>
								</li>
								<li>
									<a href="labels.html">Labels</a>
								</li>
								<li>
									<a href="dropdown.html">Dropdown</a>
								</li>
								<li>
									<a href="accordion.html">Accordion </a>
								</li>
								<li>
									<a href="tabs.html">Tabs</a>
								</li>
								<li>
									<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
								</li>
								<li>
									<a href="boxes.html">Boxes</a>
								</li>
								<li>
									<a href="images.html">Images</a>
								</li>
								<li>
									<a href="video.html">Video &amp; Audio</a>
								</li>
								<li>
									<a href="tables.html">Tables</a>
								</li>
								<li>
									<a href="pricing-tables.html">Pricing Tables</a>
								</li>
								<li>
									<a href="form-elements.html">Form Elements</a>
								</li>
								<li>
									<a href="icons.html">Icons</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Classes</a>
							<ul class="sub-menu">
								<li>
									<a href="styling-classes.html">Styling Classes</a>
								</li>
								<li>
									<a href="helper-classes.html">Helper Classes</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Plugins</a>
							<ul class="sub-menu">
								<li class="current">
									<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">The Mountain</a>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		<div class="wrapper-inner">
		
			<!-- Header -->
			<header class="nav-bar nav-main">
				<div class="row">
					<div class="column width-12">
						<div class="logo">
							<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
						</div>
						<nav class="navigation nav-block secondary-navigation nav-right no-margin-left">
							<ul>
								<li class="aux-navigation hide">
									<!-- Aux Navigation -->
									<a href="#" class="navigation-show side-nav-show nav-icon">
										<span class="icon-menu"></span>
									</a>
								</li>
							</ul>
						</nav>
						<nav class="navigation nav-block primary-navigation nav-right">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="components/grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">
				<div class="section-block intro-title-1 small">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<h1>Avalanche Slider</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row large">
					<div class="column width-9 push-3">
						<div class="tm-slider-container" style="width:825px;height:550px;">
							<ul class="tms-slides">	
								<li class="tms-slide" data-image data-animation="slideLeftRight">
									<h1 class="tms-caption color-white border-white lspacing-small padded no-margins weight-light" 
										data-x="center"
										data-y="center"
										data-offsetx="0"
										data-offsety="0"
										data-animate-in="scale:2;opacity:0;duration:400ms;easing:swing"
										>
										<strong>AVALANCHE</strong> SLIDER
									</h1>
									<img data-src="../images/slider/slide-7.jpg" data-retina src="../images/blank.png" alt=""/>
								</li>
								<li class="tms-slide" data-image data-animation="scaleOut">
									<div class="tms-caption color-white lspacing-small weight-light" 
										data-x="center"
										data-y="center"
										data-offsety="-10px"
										data-animate-in="opacity:0;transY:300;scale:2;delay:0ms;duration:500ms"
										style="font-size:20px;"
										>
										FULLY CSS3 TRANSITION DRIVEN
									</div>
									<div class="tms-caption color-white weight-bold lspacing-small" 
										data-x="center"
										data-y="center"
										data-offsety="10"
										data-animate-in="opacity:0;transY:300;scale:2;delay:300ms"
										style="font-size:25px;"
										>
										WITH BEAUTIFUL CAPTION ANIMATIONS
									</div>
									<img data-src="../images/slider/slide-2.jpg" data-retina src="../images/blank.png" alt="" />
								</li>
								<li class="tms-slide" data-image data-animation="slideTopBottom">
									<div class="tms-caption weight-light color-white lspacing-small" 
										data-x="center"
										data-y="top"
										data-offsety="110px"
										data-animate-in="opacity:0;transY:-100;delay:0ms;duration:600ms;"
										style="font-size:30px;"
										>
										FULLY RESPONSIVE
									</div>
									<div class="tms-caption weight-bold color-white" 
										data-x="center"
										data-y="top"
										data-offsety="140px"
										data-animate-in="opacity:0;transY:100;delay:600ms;duration:600ms;"
										style="font-size:20px;"
									>
										FROM DESKTOP DOWN TO MOBILE
									</div>
									<div class="tms-caption" 
										data-x="center"
										data-y="center"
										data-offsety="170px"
										data-offsetx="0"
										data-animate-in="opacity:0;transY:400;delay:600ms;duration:600ms;"
										style="width:500px;"
										>
										<img data-src="../images/assets/browser.svg" src="../images/blank.png" alt="" />
									</div>
									<div class="tms-caption" 
										data-x="center"
										data-y="center"
										data-offsety="200px"
										data-animate-in="opacity:0;transY:400;delay:800ms;duration:600ms;"
										style="width:340px;"
										>
										<img data-src="../images/assets/iphone.svg" src="../images/blank.png" alt="" />
									</div>
									<img data-src="../images/slider/slide-4.jpg" data-retina src="../images/blank.png" alt="" />
								</li>
								<li class="tms-slide" data-image data-animation="scaleIn">
									<div class="tms-caption" 
										data-x="center"
										data-y="center"
										data-offsety="-40px"
										data-animate-in="opacity:0;delay:300ms;duration:600ms;"
										style="width:20%;border-bottom:1px solid #fff"
										>
									</div>
									<div class="tms-caption weight-light color-white" 
										data-x="center"
										data-y="center"
										data-offsetx="0"
										data-offsety="-10px"
										data-animate-in="opacity:0;transX:500;"
										style="font-size:20px;line-height:20px;"
										>
										SUPPORTS
									</div>
									<div class="tms-caption weight-bold color-white" 
										data-x="center"
										data-y="center"
										data-offsetx="0"
										data-offsety="10px"
										data-animate-in="opacity:0;transX:-500;"
										style="font-size:20px;line-height:20px;"
										>
										HTML5 VIDEO, YOUTUBE & VIMEO
									</div>
									<div class="tms-caption" 
										data-x="center"
										data-y="center"
										data-offsety="40px"
										data-animate-in="opacity:0;delay:300ms;duration:600ms;"
										style="width:20%;border-bottom:1px solid #fff"
										>
									</div>
									<img data-src="../images/slider/slide-10.jpg" data-retina src="../images/blank.png" alt="" />
								</li>
								<li class="tms-slide" data-image data-animation="slideTopBottom">
									<div class="tms-caption weight-light color-white lspacing-small" 
										data-x="center"
										data-y="center"
										data-offsetx="0"
										data-offsety="-12px"
										data-animate-in="opacity:0;rotateX:180;scale:2;duration:400ms;easing:swing"
										style="font-size:25px;"
										>
										A SIMPLE BUT POWERFUL SLIDER
									</div>
									<div class="tms-caption color-white weight-bold" 
										data-x="center"
										data-y="center"
										data-offsetx="0"
										data-offsety="12px"
										data-animate-in="opacity:0;rotateY:-180;scale:2;delay:400ms;duration:400ms;easing:swing"
										style="font-size:20px;"
										>
										BY THEMEMOUNTAIN
									</div>
									<img data-src="../images/slider/slide-5.jpg" data-retina src="../images/blank.png" alt="" />
								</li>
							</ul>
						</div>
						<div class="clear"></div>
						<h2 id="avalanche">A Responsive Slider</h2>
						<p>Avanlanche is 100% reponsive and CSS3 transitions driven with a simple JS fallback for browsers such as IE9. It supports both landscape and portrait images, HTML5, YouTube and Vimeo videos, and a range of 3D transitions for captions and caption images. With minimal CSS the slider is very easy to customize. Scroll down to examples and see what Avalanche can do. </p>
						<hr>
						<h3 id="resource-files">Resource Files</h3>
						<p>Avalanche requires the following resource files:</p>
						<h6 class="code-snippet-title">Css</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<link rel="stylesheet" href="css/avalanche.css" />
								</code>
							</pre>
						</div>
						<h6 class="code-snippet-title">Js</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
									<script type="text/javascript" src="js/jquery.tm.swipe.min.js"></script>
									<script type="text/javascript" src="js/jquery.tm.avalanche.min.js"></script>
								</code>
							</pre>
						</div>
						<hr>
						<h3 id="markup">Markup</h3>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div id="tm-slider-1" class="tm-slider-container">
										<ul class="tms-slides">
											<li class="tms-slide" data-image>
												<div class="tms-caption"
													data-x="left"
													data-y="center"
													data-offsetx="0"
													data-offsety="100px"
													data-animate-in="opacity:0;transX:500px"
												>
													THIS IS CAPTION 1
												</div>
												<img data-src="../images/slide-1.jpg" src=""/>
											</li>
											<li class="tms-slide" data-image>
												<div class="tms-caption"
													data-x="right"
													data-y="center"
													data-offsetx="0"
													data-offsety="100px"
													data-animate-in="opacity:0;transX:500px;transY:500px;scale:2"
												>
													THIS IS CAPTION 2
												</div>
												<img data-src="../images/slide-2.jpg" src=""/>
											</li>
											<li class="tms-slide" data-image>
												<div class="tms-caption"
													data-x="center"
													data-y="center"
													data-offsetx="0"
													data-offsety="0"
													data-animate-in="opacity:0;rotateX:-180;scale:2"
												>
													THIS IS CAPTION 3
												</div>
												<img data-src="../images/slide-3.jpg" src=""/>
											</li>
										</ul>
									</div>
								</code>
							</pre>
						</div>
						<hr>
						<h3 id="slide-img">The IMG Tag</h3>
						<p>Images are added to slides and/or captions using the img tag. The url of the image is added to the data-src attribute instead of the src itself because images are preloaded and progressively added to the src attribute. </p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<img data-src="images/slide1.jpg" data-retina src="images/blank.png" alt="slide 1" >
								</code>
							</pre>
						</div>
						<div class="box warning rounded">
							<p><strong>Important:</strong> If retina is supported (i.e. retinaSupport = true or data-retina is used ), two images must be provided, the original and the retina version. For example, if your slider images are named <strong>"slide-1.jpg, slide-2.jpg"</strong> etc., the corresponding retina versions should be named <strong>"slide-1@2x.jpg, slide-2@2x.jpg"</strong> using the @2x suffix. Also ensure that the retina version is twice the size of the original image.</p>
						</div>
						<hr>
						<h3 id="slide-overlay">Slide Overlay</h3>
						<p>Avalanche now supports overlays for slider images. This is useful when captions need more focus than the slide itself. A slide overlay is created adding the data attributes <span class="label bkg-grey color-charcoal rounded">data-overlay-bkg-color</span> (for which color is defined as a hex <em>ex. #ff0000</em>) and  <span class="label bkg-grey color-charcoal rounded">data-overlay-bkg-opacity</span> (for which opacity is defined as a decimal <em>0-1</em>) to the slide li tag.</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<li class="tms-slide" data-overlay-bkg-color="#ff0000" data-overlay-bkg-opacity="0.5">
										...
									</li>
								</code>
							</pre>
						</div>
						<hr>
						<h3 id="caption-structure">Caption Structure</h3>
						<p>The Avalanche Slider takes two types of captions: Scalable and Non Scalable Captions. </p>
						<h6>Scalable Captions</h6>
						<p>If this type of caption is used, the Avalanche Slider script will calculate the ratio of each style applied and position of the caption and scale it accordingly as the slider is resized or orientation changed. This is useful for shorter captions where they are key words or phrases are visible even if scaled.</p>
						<p>Scalable captions can be positioned using four data attributes, namely <span class="label bkg-grey color-charcoal rounded">data-x</span>, <span class="label bkg-grey color-charcoal rounded">data-y</span>, <span class="label bkg-grey color-charcoal rounded">data-offsetx</span> and <span class="label bkg-grey color-charcoal rounded">data-offsety</span>. 
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="tms-caption"
										data-x="left"
										data-y="center"
										data-offsetx="0"
										data-offsety="0"
										data-animate-in="opacity:0;transX:500px"
									>
										This is a caption
									</div>
								</code>
							</pre>
						</div>
						<h6>Non Scalable Captions</h6>
						<p>If this type of caption is used, the Avalanche Slider will not scale the captions, instead you will need to scale the caption i.e. change font-size, padding etc. by targeting the caption using CSS for the break points of your choice. This type of caption is useful when a caption contains more than just a few keywords.</p>
						<p>Non Scalable Captions are created by adding the data attribute <span class="label bkg-grey color-charcoal rounded">data-no-scale</span> to the <span class="label bkg-grey color-charcoal rounded">.tms-caption</span> wrapper.</p>
						<p>Non scalable captions can be horizontally aligned using text aligning classes such as <span class="label bkg-grey color-charcoal rounded">.left</span>, <span class="label bkg-grey color-charcoal rounded">.center</span>, <span class="label bkg-grey color-charcoal rounded">.right</span> and vertically aligned by applying vertical align classes such as <span class="label bkg-grey color-charcoal rounded">.v-align-top</span> and <span class="label bkg-grey color-charcoal rounded">.v-align-bottom</span>. These classes should be added to the <span class="label bkg-grey color-charcoal rounded">.tms-content-inner</span> wrapper.</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="tms-content">
										<div class="tms-content-inner center v-align-top">
											<h1 class="tms-caption"
												data-animate-in="opacity:0;transX:500px"
												data-no-scale
											>
												Caption Title
											</h1>
										</div>
									</div>
								</code>
							</pre>
						</div>
						<div class="box alert rounded">
							<p><strong>Note:</strong> A non scalable caption can be animated just like a scalable caption. However, to ensure the caption does not span the full width of its parent container when animating, add the <span class="label bkg-grey color-charcoal rounded">.inline</span> class to the <span class="label bkg-grey color-charcoal rounded">.tms-caption</span> wrapper.</p>
							<p>We can also force a caption onto a new line by inserting a div with the <span class="label bkg-grey color-charcoal rounded">.clear</span> class.</p>
						</div>
						<hr>
						<h3 id="scalable-caption-options">Scalable Caption Postion Data Attributes</h3>
						<p>Captions can be positioned and moved about the X and Y axis by using the data-x/data-y and data-offsetx/data-offset-y data attributes.</p>
						<table class="table rounded large">
							<thead>
								<tr>
									<th>Attribute</th>
									<th>Values</th>
									<th>Default</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>data-x</td>
									<td>left, center, right</td>
									<td>left</td>
									<td>Position on the x axis</td>
								</tr>
								<tr>
									<td>data-y</td>
									<td>top, center, bottom</td>
									<td>top</td>
									<td>Position on y axis</td>
								</tr>
								<tr>
									<td>data-offsetx</td>
									<td>number</td>
									<td>0</td>
									<td>Offset on x axis, entered as <em>000px</em></td>
								</tr>
								<tr>
									<td>data-offsety</td>
									<td>number</td>
									<td>0</td>
									<td>Offset on y axis, entered as <em>000px</em></td>
								</tr>
							</tbody>
						</table>
						<hr>
						<h3 id="caption-animation-attr">Caption Animation Data Attribute</h3>
						<p>Captions only animate in once a target slide is fully in view and has stopped animating. The way in which the caption transitions to its position can be controlled using the data-animate-in attribute. <strong>Note:</strong> If using Non Scalable Cations make sure to add the class <span class="label bkg-grey color-charcoal rounded">.inline</span> to the <span class="label bkg-grey color-charcoal rounded">.tms-caption</span> wrapper; this will ensure that the caption is correctly animated. Transition parameters are entered as an array, for example:</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div data-animate-in="opacity:0;transX:500px:scale:2;" class="tms-caption">CAPTION</div>
								</code>
							</pre>
						</div>
						<table class="table rounded large">
							<thead>
								<tr>
									<th>Attribute</th>
									<th>Values</th>
									<th>Default</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Opacity</td>
									<td>0 - 1</td>
									<td>0</td>
									<td>Sets starting opacity of caption</td>
								</tr>
								<tr>
									<td>transX</td>
									<td>-/+ number</td>
									<td>0</td>
									<td>Sets initial position of caption on x axis, entered as <em>500px</em> or <em>500</em></td>
								</tr>
								<tr>
									<td>transY</td>
									<td>-/+ number</td>
									<td>0</td>
									<td>Sets initial position of caption on y axis, entered as <em>500px</em> or <em>500</em></td>
								</tr>
								<tr>
									<td>transZ</td>
									<td>-/+ number</td>
									<td>0</td>
									<td>Sets initial position of caption on z axis, entered as <em>500px</em> or <em>500</em></td>
								</tr>
								<tr>
									<td>rotateX</td>
									<td>-/+ number</td>
									<td>0</td>
									<td>Sets initial rotation of caption on x axis, entered as <em>180deg</em> or <em>180</em></td>
								</tr>
								<tr>
									<td>rotateY</td>
									<td>-/+ number</td>
									<td>0</td>
									<td>Sets initial rotation of caption on y axis, entered as <em>180deg</em> or <em>180</em></td>
								</tr>
								<tr>
									<td>rotateZ</td>
									<td>-/+ number</td>
									<td>0</td>
									<td>Sets initial rotation of caption on z axis, entered as <em>180deg</em> or <em>180</em></td>
								</tr>
								<tr>
									<td>scale</td>
									<td>number</td>
									<td>1</td>
									<td>Sets initial scale of caption, where 1 is no scaling</td>
								</tr>
								<tr>
									<td>duration</td>
									<td>milliseconds</td>
									<td>700ms</td>
									<td>Sets duration of transition, entered as <em>700ms</em> or <em>700</em></td>
								</tr>
								<tr>
									<td>delay</td>
									<td>milliseconds</td>
									<td>0ms</td>
									<td>Sets delay before transitiosn starts, entered as <em>700ms</em> or <em>700</em></td>
								</tr>
								<tr>
									<td>easing</td>
									<td>string</td>
									<td>easeInOutQuint</td>
									<td>Sets easing type of transition, click <a data-content="inline" data-toolbar="" data-modal-mode data-modal-width="500" data-lightbox-animation="fade" href="#easing-types" class="tml-link color-red">here</a> to see easing types</td>
								</tr>
							</tbody>
						</table>
						<h5 id="caption-animation-presets">Preset Caption Animations  <span class="label bkg-red color-white rounded small">New</span></h5>
						<p>Avalanche slider now supports a range of new presets to faciliate caption animations. <strong>Note:</strong> duration, delay and easing can still be overwritten if using a preset creating different effects. Here is how to use a preset:</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div data-animate-in="preset:slideInUpShort;duration:1000ms;delay:100ms;" class="tms-caption">CAPTION</div>
								</code>
							</pre>
						</div>
						<p>
							<a data-content="inline" data-toolbar="" data-modal-mode data-modal-width="700" data-lightbox-animation="fade" href="#animation-presets" class="tml-link color-red">Click here for full list of presets</a>
						</p>
						<p><strong>Note:</strong> caption perspective is by default set to 800px. To change this, simply target the <span class="label bkg-grey color-charcoal rounded">.tmh-perspective</span> class.</p>
						<hr>
						<h3 id="usage">Avalanche Usage <span class="label bkg-red color-white rounded small">Updated</span></h3>
						<p>To call the Avalanche Slider plugin the following call should be added before the closing body tag on document ready.</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="js">
									$( document ).ready( function(){
										$( '.tm-slider-container' ).avalanche();
									});
								</code>
							</pre>
						</div>
						<table class="table rounded large">
							<col style="width:5%">
							<col style="width:10%">
							<col style="width:5%">
							<col style="width:40%">
							<col style="width:40%">
							<thead>
								<tr>
									<th>Attribute</th>
									<th>Values</th>
									<th>Default</th>
									<th>Data Attribute</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>animation</td>
									<td>string</td>
									<td>'slide'</td>
									<td>data-animation <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Sets slide animation, 'slideLeftRight', 'slideTopBottom', 'scaleIn', 'scaleOut', or 'fade'.</td>
								</tr>
								<tr>
									<td>parallax</td>
									<td>boolean</td>
									<td>false</td>
									<td>data-parallax <span class="alt-option">Attribute added to slider wrapper. No value required.</span></td>
									<td>Whether slider container should simulate parallax effect as page scrolls. See <strong><a class="color-red" href="#parallax">prerequisites</a></strong>.</td>
								</tr>
								<tr>
									<td>easing</td>
									<td>string</td>
									<td>easeInOutQuint</td>
									<td>data-easing <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Sets easing type of transition. Click <a data-content="inline" data-toolbar="" data-modal-mode data-modal-width="500" data-lightbox-animation="fade" href="#easing-types" class="tml-link color-red">here</a> to see easing types.</td>
								</tr>
								<tr>
									<td>speed</td>
									<td>milliseconds</td>
									<td>700</td>
									<td>data-speed <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Sets animation speed of slide transition.</td>
								</tr>
								<tr>
									<td>parallaxSpeed</td>
									<td>integer</td>
									<td>0.2</td>
									<td>data-parallax-speed <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Determines parallax speed 0.1-0.5.</td>
								</tr>
								<tr>
									<td>parallaxScaleOut </td>
									<td>boolean</td>
									<td>false</td>
									<td>data-parallax-scale-out <span class="alt-option">Attribute added to slider wrapper. No value required.</span></td>
									<td>Whether slider container should progressively scale up on scroll.</td>
								</tr>
								<tr>
									<td>parallaxScaleOut</td>
									<td>boolean</td>
									<td>false</td>
									<td>data-parallax-fade-out <span class="alt-option">Attribute added to slider wrapper. No value required.</span></td>
									<td>Whether slider container should fade out progressively on scroll.</td>
								</tr>
								<tr>
									<td>navArrows</td>
									<td>boolean</td>
									<td>true</td>
									<td>data-nav-arrows <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Whether the slider should have navigation arrows</td>
								</tr>
								<tr>
									<td>navPagination</td>
									<td>boolean</td>
									<td>true</td>
									<td>data-nav-pagination <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Whether the slider should have pagination bullets</td>
								</tr>
								<tr>
									<td>navShowOnHover</td>
									<td>boolean</td>
									<td>true</td>
									<td>data-nav-show-on-hover <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Whether navigation should show on hover only</td>
								</tr>
								<tr>
									<td>paginationType</td>
									<td>string</td>
									<td>'bullets'</td>
									<td></td>
									<td>Deterimines pagination type. Currently only 'bullets' are supported</td>
								</tr>
								<tr>
									<td>forceFit</td>
									<td>boolean</td>
									<td>false</td>
									<td>data-force-fit <span class="alt-option">Attribute added to the '.tms-slide' wrapper. No value required.</span></td>
									<td>Whether all slide images, not caption images or graphics, should be scaled to fit the slider container.</td>
								</tr>
								<tr>
									<td>fullWidth</td>
									<td>boolean</td>
									<td>false</td>
									<td></td>
									<td>Whether slider should be launched in full with mode</td>
								</tr>
								<tr>
									<td>fullscreen</td>
									<td>boolean</td>
									<td>false</td>
									<td></td>
									<td>Whether slider should be launched in fullscreem mode</td>
								</tr>
								<tr>
									<td>scaleUnder</td>
									<td>integer</td>
									<td>1140</td>
									<td>data-scale-under <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>At what window width the slider should start scaling.</td>
								</tr>
								<tr>
									<td>scaleMinHeight</td>
									<td>integer</td>
									<td>214</td>
									<td>data-scale-min-height <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Minimum height that the slider should scale to</td>
								</tr>
								<tr>
									<td>captionScaling</td>
									<td>boolean</td>
									<td>true</td>
									<td></td>
									<td>Whether captions should scale. Not supported in fullscreen mode. Use CSS for scaling instead</td>
								</tr>
								<tr>
									<td>carousel</td>
									<td>boolean</td>
									<td>false</td>
									<td>data-crousel <span class="alt-option">Attribute added to slider wrapper. No value required.</span></td>
									<td>Whehter slider should be launched in carousel mode.</td>
								</tr>
								<tr>
									<td>carouselVisible</td>
									<td>integer</td>
									<td>1</td>
									<td>data-carousel-visible-slides <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Determines the number of slides visible at once if carousel is set to true. Caption scaling is automatically turned off if visible slides is set to two or more.</td>
								</tr>
								<tr>
									<td>autoAdvance</td>
									<td>boolean</td>
									<td>false</td>
									<td>data-auto-advance <span class="alt-option">Attribute added to slider wrapper. No value required.</span></td>
									<td>Whether slideshow should be active.</td>
								</tr>
								<tr>
									<td>autoAdvance</td>
									<td>boolean</td>
									<td>false</td>
									<td>data-auto-advance <span class="alt-option">Attribute added to slider wrapper. No value required.</span></td>
									<td>Whether slideshow should be active.</td>
								</tr>
								<tr>
									<td>showProgressBar</td>
									<td>boolean</td>
									<td>true</td>
									<td>data-progress-bar <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Determines whether slider should show progress bar.</td>
								</tr>
								<tr>
									<td>pauseOnHover</td>
									<td>boolean</td>
									<td>true</td>
									<td>data-pause-on-hover <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Determines if slideshow should pause upon mouseover.</td>
								</tr>
								<tr>
									<td>useVideoApi</td>
									<td>boolean</td>
									<td>true</td>
									<td></td>
									<td>Whether the API for YouTube and Vimeo should be loaded; if true, it will load necessary scripts. Automatically disabled for mobile devices</td>
								</tr>
								<tr>
									<td>autoPlay</td>
									<td>boolean</td>
									<td>true</td>
									<td>data-video-auto-play <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Whether video should start playing automatically</td>
								</tr>
								<tr>
									<td>replayOnEnd</td>
									<td>boolean</td>
									<td>true</td>
									<td>data-replay-on-end <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Whether video should replay upon ending</td>
								</tr>
								<tr>
									<td>respectRatio</td>
									<td>boolean</td>
									<td>true</td>
									<td></td>
									<td>Whether video should be sized based on its aspect ratio; if false, it will scale to fit the slide</td>
								</tr>
								<tr>
									<td>muteBkgVideo</td>
									<td>boolean</td>
									<td>false</td>
									<td>data-mute-bkg-video  <span class="alt-option">Attribute added to slider wrapper.</span></td>
									<td>Whether background video should be muted</td>
								</tr>
								<tr>
									<td>lazyload</td>
									<td>boolean</td>
									<td>true</td>
									<td></td>
									<td>Determines whether slider should load the slides progressively</td>
								</tr>
								<tr>
									<td>retinaSupport</td>
									<td>boolean</td>
									<td>false</td>
									<td>data-retina <span class="alt-option">Attribute added to img tag. No value required.</span></td>
									<td>Whether slider should serve retina images for retina displays. Affects all images, slide and caption images.</td>
								</tr>
								<tr>
									<td>retinaSupportMobile</td>
									<td>boolean</td>
									<td>false</td>
									<td></td>
									<td>Whether the plugin should swap images on mobile retina enabled devices. Set to false by default to save bandwidth usage on mobile devices.</td>
								</tr>
								<tr>
									<td>retinaSuffix</td>
									<td>string</td>
									<td>'@2x'</td>
									<td></td>
									<td>The suffix that will be added to the image url.</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<h3 id="addtional-attributes">Addtional Slider Attributes</h3>
						<p>Below are a list of useful data attributes that have no default settings.</p>
						<table class="table rounded large">
							<col style="width:20%">
							<col style="width:20%">
							<col style="width:20%">
							<col style="width:40%">
							<thead>
								<tr>
									<th>Attribute</th>
									<th>Values</th>
									<th>Default</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>data-width</td>
									<td>number</td>
									<td>n/a</td>
									<td>Sets width of slider. Value used for calculating scaling ratio.</td>
								</tr>
								<tr>
									<td>data-height</td>
									<td>number</td>
									<td>n/a</td>
									<td>Sets height of slider. Value used for calculating scaling ratio.</td>
								</tr>
								<tr>
									<td>data-external-padding</td>
									<td>number</td>
									<td>0</td>
									<td>Useful when layouts use external padding that need to be taken into account for width calculations. Specified number will be subtracted from the width/height of the slider.</td>
								</tr>
								<tr>
									<td>data-as-bkg-image</td>
									<td>n/a</td>
									<td>n/a</td>
									<td>Forces the slider to set the loaded image as a background image of <strong>li.tms-slide</strong></td>
								</tr>
								<tr>
									<td>data-image-wrapper</td>
									<td>n/a</td>
									<td>class</td>
									<td>Useful when the slide should be set as a background image of another wrapper other than the default <strong>li.tms-slide</strong>. Specified as a class, leaving out the period.</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<h3 id="parallax">Avalanche Parallax <span class="label bkg-red color-white rounded small">New</span></h3>
						<p>Avalanche can now be used as a parallax header with the option to fade out the slider and/or scale it out upon page scroll. <strong>Important</strong>: The slider does require an addtional wrapper with the class <span class="label bkg-grey color-charcoal rounded">.tm-slider-parallax-container</span> for this effect to function. Below is an example:</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="tm-slider-parallax-container">
										<div id="tm-slider-1" class="tm-slider-container">
											<ul class="tms-slides">
												<li class="tms-slide" data-image>
													<div class="tms-caption"
														data-x="left"
														data-y="center"
														data-offsetx="0"
														data-offsety="100px"
														data-animate-in="opacity:0;transX:500px"
													>
														THIS IS CAPTION 1
													</div>
													<img data-src="../images/slide-1.jpg" src="">
												</li>
											</ul>
										</div>
									</div>
								</code>
							</pre>
						</div>
						<div class="box warning rounded">
							<p><strong>Important:</strong> The parallax effect is only supported for featured sliders and headers, not for content sliders. Also, if parallax is supported (i.e. parallax = true or data-parallax is used ), you must ensure that consecutive content sections are positioned "relative" with a z-index of 1. Each section must also be given a background color as they will scroll above the slider.</p>
						</div>
						<hr>
						<h3 id="further-examples">Further Examples</h3>
						<p>Below are a few examples of what can be donw with the slider. Note that an excess amount of videos will slow down performance.</p>
						<ul class="circle">
							<li><a href="avalanche-slider-example-one.html">No images</a></li>
							<li><a href="avalanche-slider-example-two.html">Landscape &amp; Portrait</a></li>
							<li><a href="avalanche-slider-example-three.html">Images &amp; Video</a></li>
							<li><a href="avalanche-slider-example-four.html">Carousel</a></li>
							<li><a href="avalanche-slider-example-five.html">Fullwidth</a></li>
							<li><a href="avalanche-slider-example-six.html">Fullscreen</a></li>
							<li><a href="avalanche-slider-example-seven.html">API Example</a></li>
						</ul>
					</div>
					<aside class="sidebar column width-3 pull-9">
						<h3 class="widget-title">Components</h3>
						<ul class="list-group width-11">
							<li>
								<a href="grid.html">Grid</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
							<li>
								<a href="navigation.html">Navigation</a>
							</li>
							<li>
								<a href="blockquotes.html">Blockquotes</a>
							</li>
							<li>
								<a href="feature-columns.html">Feature Columns</a>
							</li>
							<li>
								<a href="lists.html">Lists</a>
							</li>
							<li>
								<a href="buttons.html">Buttons</a>
							</li>
							<li>
								<a href="labels.html">Labels</a>
							</li>
							<li>
								<a href="dropdown.html">Dropdown</a>
							</li>
							<li>
								<a href="accordion.html">Accordion </a>
							</li>
							<li>
								<a href="tabs.html">Tabs</a>
							</li>
							<li>
								<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
							</li>
							<li>
								<a href="boxes.html">Boxes</a>
							</li>
							<li>
								<a href="progress-bar.html">Progress Bars</a>
							</li>
							<li>
								<a href="images.html">Images</a>
							</li>
							<li>
								<a href="video.html">Video &amp; Audio</a>
							</li>
							<li>
								<a href="tables.html">Tables</a>
							</li>
							<li>
								<a href="pricing-tables.html">Pricing Tables</a>
							</li>
							<li>
								<a href="form-elements.html">Form Elements</a>
							</li>
							<li>
								<a href="icons.html">Icons</a>
							</li>
						</ul>
						<h3 class="widget-title">Classes</h3>
						<ul class="list-group width-11">
							<li>
								<a href="styling-classes.html">Styling Classes</a>
							</li>
							<li>
								<a href="helper-classes.html">Helper Classes</a>
							</li>
						</ul>
						<h3 class="widget-title">Plugins</h3>
						<ul class="list-group width-11">
							<li class="current">
								<span class="icon-right-open-mini"></span>
								<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
						</ul>
					</aside>
				</div>

				<!-- Easing Modal End -->
				<div id="easing-types" class="easing-types hide" style="padding: 5rem 5rem 2rem 5rem;">
					<div class="row">
						<div class="column width-12">
							<h3>Easing Types</h3>
						</div>
						<div class="column width-6">
							<ul class="disc">
								<li>linear</li>
								<li>swing</li>
								<li>easeOutCubic</li>
								<li>easeInOutCubic</li>
								<li>easeInCirc</li>
								<li>easeOutCirc</li>
								<li>easeInOutCirc</li>
								<li>easeInExpo</li>
								<li>easeOutExpo</li>
								<li>easeInOutExpo</li>
								<li>easeInQuad</li>
								<li>easeOutQuad</li>
								<li>easeInOutQuad</li>
								<li>easeInQuart</li>
								<li>easeOutQuart</li>
							</ul>
						</div>
						<div class="column width-6">
							<ul class="disc">
								<li>easeInOutQuart</li>
								<li>easeInQuint</li>
								<li>easeOutQuint</li>
								<li>easeInOutQuint</li>
								<li>easeInSine</li>
								<li>easeOutSine</li>
								<li>easeInOutSine</li>
								<li>easeInBack</li>
								<li>easeOutBack</li>
								<li>easeInOutBack</li>
								<li>easeFastSlow</li>
								<li>easeBounceBack</li>
								<li>easeBounceBackHard</li>
								<li>easeBounceIn</li>
								<li>easeSwingInOut</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Easing Modal End -->

				<!-- Preset Modal End -->
				<div id="animation-presets" class="animation-presets hide" style="padding: 5rem 5rem 2rem 5rem;">
					<div class="row">
						<div class="column width-12">
							<h3>Caption Animation Presets</h3>
							<div class="row">
								<div class="column width-12">
									<h6>Fades</h6>
									<ul class="disc">
										<li>fadeIn</li>
									</ul>
									<hr>
								</div>
								<div class="column width-12">
									<h6>Slide In</h6>
									<div class="row">
										<div class="column width-6">
											<ul class="disc">
												<li>slideInUpShort</li>
												<li>slideInRightShort</li>
												<li>slideInDownShort</li>
												<li>slideInLeftShort</li>
											</ul>
										</div>
										<div class="column width-6">
											<ul class="disc">
												<li>slideInUpLong</li>
												<li>slideInRightLong</li>
												<li>slideInDownLong</li>
												<li>slideInLeftLong</li>
											</ul>
										</div>
									</div>
									<hr>
								</div>
								<div class="column width-12">
									<h6>Bounce In</h6>
									<div class="row">
										<div class="column width-6">
											<ul class="disc">
												<li>bounceIn</li>
												<li>bounceOut</li>
												<li>bounceInUp</li>
											</ul>
										</div>
										<div class="column width-6">
											<ul class="disc">
												<li>bounceInRight</li>
												<li>bounceInDown</li>
												<li>bounceInLeft</li>
											</ul>
										</div>
									</div>
									<hr>
								</div>
								<div class="column width-12">
									<h6>Scale In</h6>
									<ul class="disc">
										<li>scaleIn</li>
										<li>scaleOut</li>
									</ul>
									<hr>
								</div>
								<div class="column width-12">
									<h6>Flips &amp; Spins</h6>
									<div class="row">
										<div class="column width-6">
											<ul class="disc">
												<li>flipInX</li>
												<li>flipInY</li>
												<li>spinInX</li>
											</ul>
										</div>
										<div class="column width-6">
											<ul class="disc">
												<li>spinInY</li>
												<li>helicopterIn</li>
												<li>helicopterOut</li>
											</ul>
										</div>
									</div>
									<hr>
								</div>
								<div class="column width-12">
									<h6>Special</h6>
									<div class="row">
										<div class="column width-6">
											<ul class="disc">
												<li>signSwingTop</li>
												<li>signSwingRight</li>
												<li>signSwingBottom</li>
												<li>signSwingLeft</li>
												<li>wiggleX</li>
												<li>wiggleY</li>
											</ul>
										</div>
										<div class="column width-6">
											<ul class="disc">
												<li>dropUp</li>
												<li>dropDown</li>
												<li>rollInLeft</li>
												<li>rollInRight</li>
												<li>turnInRight</li>
												<li>turnInLeft</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Preset Modal End -->

			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="row large center">
					<div class="column width-12">
						<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
						<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
						<nav id="footer-navigation" class="navigation nav-center">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
						<p><span class="version-number">Current Version</span></p>
						<p class="copyright">&copy; 2016 THEMEMOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
						<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
					</div>
				</div> 
			</footer>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
	<script type="text/javascript">
		$( document ).ready( function() {
			$( '.tm-slider-container' ).avalancheSlider({
				animation: 'slide',
				autoAdvance: false,
				carousel: false,
				lazyLoad: true,
				navShowOnHover: false
			});
			$( '.tml-link' ).summitLightbox();
		});
	</script>
</body>
</html>