<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Equalize | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/core.min.css" />

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>
	
	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation">
					<ul>
						<li>
							<a href="../index.html">Get Started</a>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Components</a>
							<ul class="sub-menu">
								<li>
									<a href="grid.html">Grid</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
								<li>
									<a href="navigation.html">Navigation</a>
								</li>
								<li>
									<a href="blockquotes.html">Blockquotes</a>
								</li>
								<li>
									<a href="feature-columns.html">Feature Columns</a>
								</li>
								<li>
									<a href="lists.html">Lists</a>
								</li>
								<li>
									<a href="buttons.html">Buttons</a>
								</li>
								<li>
									<a href="labels.html">Labels</a>
								</li>
								<li>
									<a href="dropdown.html">Dropdown</a>
								</li>
								<li>
									<a href="accordion.html">Accordion </a>
								</li>
								<li>
									<a href="tabs.html">Tabs</a>
								</li>
								<li>
									<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
								</li>
								<li>
									<a href="boxes.html">Boxes</a>
								</li>
								<li>
									<a href="images.html">Images</a>
								</li>
								<li>
									<a href="video.html">Video &amp; Audio</a>
								</li>
								<li>
									<a href="tables.html">Tables</a>
								</li>
								<li>
									<a href="pricing-tables.html">Pricing Tables</a>
								</li>
								<li>
									<a href="form-elements.html">Form Elements</a>
								</li>
								<li>
									<a href="icons.html">Icons</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Classes</a>
							<ul class="sub-menu">
								<li>
									<a href="styling-classes.html">Styling Classes</a>
								</li>
								<li>
									<a href="helper-classes.html">Helper Classes</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Plugins</a>
							<ul class="sub-menu">
								<li>
									<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li class="current">
									<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">The Mountain</a>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		<div class="wrapper-inner">
		
			<!-- Header -->
			<header class="nav-bar nav-main">
				<div class="row">
					<div class="column width-12">
						<div class="logo">
							<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
						</div>
						<nav class="navigation nav-block secondary-navigation nav-right no-margin-left">
							<ul>
								<li class="aux-navigation hide">
									<!-- Aux Navigation -->
									<a href="#" class="navigation-show side-nav-show nav-icon">
										<span class="icon-menu"></span>
									</a>
								</li>
							</ul>
						</nav>
						<nav class="navigation nav-block primary-navigation nav-right">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="components/grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">
				<div class="section-block intro-title-1 small">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<h1>Equalize</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row large">
					<div class="column width-9 push-3">
						<h2 id="equalize">Equal Heights</h2>
						<p>Quickly equalize heights of grouped or individual elements in the page. Grouped elements are evaluated on a per row basis so that each row stays nice and neat. Manually clear heights or set the breakpoint at which heights are cleared.</p>
						<hr>
						<h3 id="resource-files">Resource Files</h3>
						<p>Equalize requires the following resource files:</p>
						<h6 class="code-snippet-title">Js</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									
								</code>
							</pre>
						</div>
						<hr>
						<h3 id="groups">By Group</h3>
						<div class="equalize row content-grid-3">
							<div class="grid-item">
								<div class="box rounded">
									<h5>Box 1</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dois nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									<a class="button bkg-purple-light border-hover-purple-light rounded color-white color-hover-purple-light">Button</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="box rounded bkg-red-light color-white">
									<blockquote class="left small icon" style="width:100%;">
										<span class="icon-quote"></span>
										<p>Sometimes when you innovate, you make mistakes. It is best to admit them quickly, and get on with improving your other innovations.
											<cite>Steve Jobs</cite>
										</p>
									</blockquote>
								</div>
							</div>
							<div class="grid-item">
								<div class="box rounded bkg-purple-light color-white">
									<h5>Box 3</h5>
									<ul>
										<li><span class="icon-check"></span>Sed ut perspiciatis</li>
										<li><span class="icon-check"></span>Lorem ipsum dolor
											<ul>
												<li><span class="icon-check"></span>Accusantium</li>
												<li><span class="icon-check"></span>Ratione voluptatem</li>
											</ul>
										</li>
										<li><span class="icon-check"></span>Sed quia non</li>
										<li><span class="icon-check"></span>Neque porro quisquam</li>
										<li><span class="icon-check"></span>Accusantium</li>
										<li><span class="icon-check"></span>Ratione voluptatem</li>
										<li><span class="icon-check"></span>Lorem ipsum dolor
											<ul>
												<li><span class="icon-check"></span>Accusantium</li>
												<li><span class="icon-check"></span>Ratione voluptatem</li>
											</ul>
										</li>
									</ul>
								</div>
							</div>
							<div class="grid-item">
								<div class="box rounded bkg-yellow-light color-white">
									<h5>Box 4</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dois nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
							<div class="grid-item">
								<div class="box rounded bkg-turquoise-light color-white">
									<h5>Box 5</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dois nostrud exercitation.</p> 
								</div>
							</div>
							<div class="grid-item">
								<div class="box rounded bkg-green-light color-white">
									<h5>Box 6</h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dois nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, liquip ex ea commodo consequat.</p> 
								</div>
							</div>
						</div>
						<h6 class="code-snippet-title">Markup</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									
								</code>
							</pre>
						</div>
						<h6 class="code-snippet-title">Js</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									
								</code>
							</pre>
						</div>
						<hr>
						<h3 id="individual-elements">Individual Items</h3>
						<p>To make one or multiple elements in different locations in the page follow the leader, add the attribute <span class="label bkg-grey color-charcoal rounded">data-leader="leader-name"</span> to the element that should be used as a reference, and <span class="label bkg-grey color-charcoal rounded">data-follow="leader-name"</span> to any element whose height should be equalized.</p>
						<div class="row">
							<div class="column width-4">
								<div id="equalize-leader-1" class="box rounded" data-leader="leader-1">
									<h5>Leader</h5>
									<p class="lead">Equalize gets the height of this wrapper and applies it to the followers.</p>
								</div>
							</div>
							<div class="column width-4">
								<div class="box rounded" data-follow="leader-1">
									<h5>Follower</h5>
									<p class="lead">This box is a follower</p>
								</div>
							</div>
							<div class="column width-4">
								<div class="box rounded" data-follow="leader-1">
									<h5>Follower</h5>
									<p class="lead">This box is also a follower</p>
								</div>
							</div>
						</div>
						<h6 class="code-snippet-title">Markup</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									
								</code>
							</pre>
						</div>
						<h6 class="code-snippet-title">Js</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									
								</code>
							</pre>
						</div>
						<hr>
						<h3 id="usage">Equalize Usage</h3>
						<p>To call the Equalize plugin on one or multiple elements the following call should be added before the closing body tag on document ready.</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									
								</code>
							</pre>
						</div>
						<table class="table rounded large">
							<thead>
								<tr>
									<th>Attribute</th>
									<th>Values</th>
									<th>Default</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>equlizeByGroup</td>
									<td>boolean</td>
									<td>true</td>
									<td>Whether all children within a griven group shoulde be equalized on a per row basis</td>
								</tr>
								<tr>
									<td>updateOnResize</td>
									<td>boolean</td>
									<td>true</td>
									<td>Whether heights should update on window resize</td>
								</tr>
								<tr>
									<td>clearUnder</td>
									<td>number</td>
									<td>479</td>
									<td>Breakpoint at which plugin should stop setting heights</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<h3 id="api">API</h3>
						<p>The Equalize plugin offers two public methods, namely .updateHeights() and .clearHeights() which are particularly useful if more elements are dynamically appended to the page.</p>
						<button id="clear-heights" style="margin-right:5px;margin-bottom:30px;" class="button bkg-purple-light border-hover-purple-light rounded color-white color-hover-purple-light">Clear Heights</button>
						<button id="equalize-heights" style="margin-right:5px;margin-bottom:30px;" class="button bkg-purple-light border-hover-purple-light rounded color-white color-hover-purple-light">Equalize Heights</button>
						<div class="row">
							<div class="column width-4">
								<div id="equalize-leader-2" class="box rounded" data-leader="leader-2">
									<h5>Leader</h5>
									<p class="lead">Equalize gets the height of this wrapper and applies it to the followers.</p>
								</div>
							</div>
							<div class="column width-4">
								<div class="box rounded" data-follow="leader-2">
									<h5>Follower</h5>
									<p class="lead">This box is a follower</p>
								</div>
							</div>
							<div class="column width-4">
								<div class="box rounded" data-follow="leader-2">
									<h5>Follower</h5>
									<p class="lead">This box is also a follower</p>
								</div>
							</div>
						</div>
						<h6>2 Methods</h6>
						<table class="table rounded large">
							<thead>
								<tr>
									<th>Medthod</th>
									<th>Example</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>updateHeights</td>
									<td>var equalize = $( '#equalize-leader-2' ).data( 'equalizeHeights' );<br> equalize.updateHeights();</td>
									<td>Will force the height of followers to update</td>
								</tr>
								<tr>
									<td>clearHeights</td>
									<td>var equalize = $( '#equalize-leader-2' ).data( 'equalizeHeights' );<br> equalize.clearHeights();</td>
									<td>Will force the height of followers to be cleared</td>
								</tr>
							</tbody>
						</table>
					</div>
					<aside class="sidebar column width-3 pull-9">
						<h3 class="widget-title">Components</h3>
						<ul class="list-group width-11">
							<li>
								<a href="grid.html">Grid</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
							<li>
								<a href="navigation.html">Navigation</a>
							</li>
							<li>
								<a href="blockquotes.html">Blockquotes</a>
							</li>
							<li>
								<a href="feature-columns.html">Feature Columns</a>
							</li>
							<li>
								<a href="feature-columns.html">Feature Columns</a>
							</li>
							<li>
								<a href="lists.html">Lists</a>
							</li>
							<li>
								<a href="buttons.html">Buttons</a>
							</li>
							<li>
								<a href="labels.html">Labels</a>
							</li>
							<li>
								<a href="dropdown.html">Dropdown</a>
							</li>
							<li>
								<a href="accordion.html">Accordion </a>
							</li>
							<li>
								<a href="tabs.html">Tabs</a>
							</li>
							<li>
								<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
							</li>
							<li>
								<a href="boxes.html">Boxes</a>
							</li>
							<li>
								<a href="progress-bar.html">Progress Bars</a>
							</li>
							<li>
								<a href="images.html">Images</a>
							</li>
							<li>
								<a href="video.html">Video &amp; Audio</a>
							</li>
							<li>
								<a href="tables.html">Tables</a>
							</li>
							<li>
								<a href="pricing-tables.html">Pricing Tables</a>
							</li>
							<li>
								<a href="form-elements.html">Form Elements</a>
							</li>
							<li>
								<a href="icons.html">Icons</a>
							</li>
						</ul>
						<h3 class="widget-title">Classes</h3>
						<ul class="list-group width-11">
							<li>
								<a href="styling-classes.html">Styling Classes</a>
							</li>
							<li>
								<a href="helper-classes.html">Helper Classes</a>
							</li>
						</ul>
						<h3 class="widget-title">Plugins</h3>
						<ul class="list-group width-11">
							<li>
								<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li class="current">
								<span class="icon-right-open-mini"></span>
								<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
						</ul>
					</aside>
				</div>
			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="row large center">
					<div class="column width-12">
						<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
						<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
						<nav id="footer-navigation" class="navigation nav-center">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
						<p><span class="version-number">Current Version</span></p>
						<p class="copyright">&copy; 2016 THEMEMOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
						<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
					</div>
				</div> 
			</footer>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
	<script>
		$( document ).ready( function(){
			$( '.equalize' ).equalizeHeights();
			$( '#equalize-leader-1' ).equalizeHeights({
				equalizeByGroup: false,
			});
			$( '#equalize-leader-2' ).equalizeHeights({
				equalizeByGroup: false,
				updateOnResize: false
			});
			var s = $( '#equalize-leader-2' ).data( 'equalizeHeights' );
			$( '#clear-heights' ).on( 'click', function(){
				s.clearHeights();
			});
			$( '#equalize-heights' ).on( 'click', function(){
				s.updateHeights();
			});
		});
	</script>
</body>
</html>