<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Images | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/core.min.css" />

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation">
					<ul>
						<li>
							<a href="../index.html">Get Started</a>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Components</a>
							<ul class="sub-menu">
								<li>
									<a href="grid.html">Grid</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
								<li>
									<a href="navigation.html">Navigation</a>
								</li>
								<li>
									<a href="blockquotes.html">Blockquotes</a>
								</li>
								<li>
									<a href="feature-columns.html">Feature Columns</a>
								</li>
								<li>
									<a href="lists.html">Lists</a>
								</li>
								<li>
									<a href="buttons.html">Buttons</a>
								</li>
								<li>
									<a href="labels.html">Labels</a>
								</li>
								<li>
									<a href="dropdown.html">Dropdown</a>
								</li>
								<li>
									<a href="accordion.html">Accordion </a>
								</li>
								<li>
									<a href="tabs.html">Tabs</a>
								</li>
								<li>
									<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
								</li>
								<li>
									<a href="boxes.html">Boxes</a>
								</li>
								<li>
									<a href="images.html">Images</a>
								</li>
								<li>
									<a href="video.html">Video &amp; Audio</a>
								</li>
								<li>
									<a href="tables.html">Tables</a>
								</li>
								<li>
									<a href="pricing-tables.html">Pricing Tables</a>
								</li>
								<li>
									<a href="form-elements.html">Form Elements</a>
								</li>
								<li>
									<a href="icons.html">Icons</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Classes</a>
							<ul class="sub-menu">
								<li>
									<a href="styling-classes.html">Styling Classes</a>
								</li>
								<li>
									<a href="helper-classes.html">Helper Classes</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Plugins</a>
							<ul class="sub-menu">
								<li>
									<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">The Mountain</a>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		<div class="wrapper-inner">
		
			<!-- Header -->
			<header class="nav-bar nav-main">
				<div class="row">
					<div class="column width-12">
						<div class="logo">
							<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
						</div>
						<nav class="navigation nav-block secondary-navigation nav-right no-margin-left">
							<ul>
								<li class="aux-navigation hide">
									<!-- Aux Navigation -->
									<a href="#" class="navigation-show side-nav-show nav-icon">
										<span class="icon-menu"></span>
									</a>
								</li>
							</ul>
						</nav>
						<nav class="navigation nav-block primary-navigation nav-right">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="components/grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">
				<div class="section-block intro-title-1 small">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<h1>Images</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row large">
					<div class="column width-9 push-3">
						<h2 id="alignment">Alignment</h2>
						<img style="width:150px;height:150px;" class="pull-left" src="../images/lightbox/thumb-6.jpg" alt=""/>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
						<div class="row">
							<div class="column width-12">
								<h6 class="code-snippet-title">Example</h6>
								<div class="box large rounded code-snippet">
									<pre>
										<code class="html">
											<img class="pull-left">
										</code>
									</pre>
								</div>
							</div>
						</div>
						<img style="width:150px;height:150px;" class="pull-right" src="../images/lightbox/thumb-6.jpg" alt=""/>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<img class="pull-right">
								</code>
							</pre>
						</div>
						<hr>
						<h2 id="captions">Captions</h2>
						<p>Captions can easily be added to any thumbnail with minimal markup. Timber offers two types of captions: caption below and caption over.</p>
						<h5 id="caption-below">Caption Below</h5>
						<div style="max-width:230px;" class="thumbnail pull-left">
							<img src="../images/lightbox/thumb-6.jpg" alt=""/>
							<div class="caption-below">
								<span>
									This is a simple image caption
								</span>
							</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
						<div class="clear"></div>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail pull-left">
										<img src="images/thumbnail.jpg" alt="">
										<div class="caption-below">
											Caption here
										</div>
									</div>
								</code>
							</pre>
						</div>
						<h5>Caption Over</h5>
						<p>Captions that overlay thumbnails can be vertically aligned top, center or bottom, and text can be left, center or right aligned. Captions can be styled using a combination of background color/border color, text color and border style classes. Caption content is by default vertically aligned middle and aligned left. <strong>Note:</strong> Overlay captions require <span class="label bkg-grey color-charcoal rounded">timber.min.js</span>.</p>
						<div class="box rounded alert">
							<p><strong>IMPORTANT:</strong> Overlay captions require that the thumbnail wrapper has a set height. It is therefore important to specify the image width and height on the image tag directly. Javascript is then used to determine the image ratio and scale the thumbnail wrapper accordingly as the browser window is resized.</p>
						</div>
						<div id="caption-over-ex-1" class="box rounded">
							<h6 class="weight-light"><em>Example 1</em></h6>
							<div class="thumbnail">
								<img src="../images/lightbox/thumb-7-wide.jpg" width="825" height="400" alt=""/>
								<div class="caption-over-outer">
									<div class="caption-over-inner color-white">
										<h6>The Himalayas</h6>
										<p class="weight-light hide-on-mobile">A default overlay caption that is vertically aligned middle and left aligned.</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							<h6 class="code-snippet-title">Example</h6>
							<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail">
										<img src="images/thumbnail.jpg" width="825" height="400" alt="">
										<div class="caption-over-outer">
											<div class="caption-over-inner color-white">
												<h6>Caption Title</h6>
												<p>Caption</p>
											</div>
										</div>
									</div>
								</code>
							</pre>
						</div>
						</div>
						<div id="caption-over-ex-2" class="box rounded">
							<h6 class="weight-light"><em>Example 2</em></h6>
							<div class="thumbnail">
								<img src="../images/lightbox/thumb-7-wide.jpg" width="825" height="400" alt=""/>
								<div class="caption-over-outer">
									<div class="caption-over-inner center color-white">
										<h6>The Himalayas</h6>
										<p class="weight-light hide-on-mobile">A default overlay caption that is vertically aligned middle and center aligned.</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							<h6 class="code-snippet-title">Example</h6>
							<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail">
										<img src="images/thumbnail.jpg" width="825" height="400" alt="">
										<div class="caption-over-outer">
											<div class="caption-over-inner center color-white">
												<h6>Caption Title</h6>
												<p>Caption</p>
											</div>
										</div>
									</div>
								</code>
							</pre>
						</div>
						</div>
						<div id="caption-over-ex-3" class="box rounded">
							<h6 class="weight-light"><em>Example 3</em></h6>
							<div class="thumbnail">
								<img src="../images/lightbox/thumb-7-wide.jpg" width="825" height="400" alt=""/>
								<div class="caption-over-outer">
									<div class="caption-over-inner right color-white">
										<h6>The Himalayas</h6>
										<p class="weight-light hide-on-mobile">A default overlay caption that is vertically aligned middle and right aligned.</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							<h6 class="code-snippet-title">Example</h6>
							<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail">
										<img src="images/thumbnail.jpg" width="825" height="400" alt="">
										<div class="caption-over-outer">
											<div class="caption-over-inner right color-white">
												<h6>Caption Title</h6>
												<p>Caption</p>
											</div>
										</div>
									</div>
								</code>
							</pre>
						</div>
						</div>
						<div id="caption-over-ex-4" class="box rounded">
							<h6 class="weight-light"><em>Example 4</em></h6>
							<div class="thumbnail">
								<img src="../images/lightbox/thumb-7-wide.jpg" width="825" height="400" alt=""/>
								<div class="caption-over-outer">
									<div class="caption-over-inner v-align-top center color-white">
										<h6>The Himalayas</h6>
										<p class="weight-light hide-on-mobile">A default overlay caption that is vertically aligned top and center aligned.</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							<h6 class="code-snippet-title">Example</h6>
							<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail">
										<img src="images/thumbnail.jpg" width="825" height="400" alt="">
										<div class="caption-over-outer">
											<div class="caption-over-inner v-align-top center color-white">
												<h6>Caption Title</h6>
												<p>Caption</p>
											</div>
										</div>
									</div>
								</code>
							</pre>
						</div>
						</div>
						<div id="caption-over-ex-5" class="box rounded">
							<h6 class="weight-light"><em>Example 5</em></h6>
							<div class="thumbnail">
								<img src="../images/lightbox/thumb-7-wide.jpg" width="825" height="400" alt=""/>
								<div class="caption-over-outer">
									<div class="caption-over-inner v-align-bottom center color-white">
										<h6>The Himalayas</h6>
										<p class="weight-light hide-on-mobile">A default overlay caption that is vertically aligned top and center aligned.</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							<h6 class="code-snippet-title">Example</h6>
							<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail">
										<img src="images/thumbnail.jpg" width="825" height="400" alt="">
										<div class="caption-over-outer">
											<div class="caption-over-inner v-align-bottom center color-white">
												<h6>Caption Title</h6>
												<p>Caption</p>
											</div>
										</div>
									</div>
								</code>
							</pre>
						</div>
						</div>
						<div id="caption-over-ex-6" class="box rounded">
							<h6 class="weight-light"><em>Example 6</em></h6>
							<p>Use helper classes to customize the look on mobile. Use <span class="label bkg-grey color-charcoal rounded">.hide-on-mobile</span> to hide caption content on screens with a width less than 768px. Use <span class="label bkg-grey color-charcoal rounded">.v-align-top-on-mobile</span> and <span class="label bkg-grey color-charcoal rounded">.v-align-bottom-on-mobile</span> to align caption content differently on screens with a width less than 768px. This is useful when caption content needs to be hidden or its' position changed when images scale to smaller sizes.</p>
							<div class="thumbnail">
								<img src="../images/lightbox/thumb-7-wide.jpg" width="825" height="400" alt=""/>
								<div class="caption-over-outer">
									<div class="caption-over-inner v-align-bottom center color-white">
										<h6>The Himalayas</h6>
										<p class="weight-light hide-on-mobile">A default overlay caption that is vertically aligned top and center aligned.</p>
									</div>
								</div>
							</div>
							<div class="clear"></div>
							<h6 class="code-snippet-title">Example</h6>
							<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail">
										<img src="images/thumbnail.jpg" width="825" height="400" alt="">
										<div class="caption-over-outer">
											<div class="caption-over-inner v-align-bottom center color-white">
												<h6>Caption Title</h6>
												<p>Caption</p>
											</div>
										</div>
									</div>
								</code>
							</pre>
						</div>
						</div>
						<hr>
						<h2 id="rollovers">Rollovers</h2>
						<p>Create simple and effective rollovers using a range to predefined animation classes. <strong>Note:</strong> Rollovers require <span class="label bkg-grey color-charcoal rounded">timber.min.js</span>.</p>
						<h5 id="rollover-linked">Linked Rollover</h5>
						<div class="row content-grid-3">
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-fade-out" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/non-profit.html">
										<img src="../images/lightbox/thumb-1.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-fade-out
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-fade-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/packaging.html">
										<img src="../images/lightbox/thumb-2.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-fade-in
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.1">
									<a class="overlay-link" href="portfolio/barber-shop.html">
										<img src="../images/lightbox/thumb-3.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.img-scale-in
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-fade-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/restaurant.html">
										<img src="../images/lightbox/thumb-4.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-fade-img-scale-in
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-fade-img-scale-out" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/mobile-app.html">
										<img src="../images/lightbox/thumb-5.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-fade-img-scale-out
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-slide-in-top" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/clothing.html">
										<img src="../images/lightbox/thumb-6.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-slide-in-top
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-slide-in-left" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/non-profit.html">
										<img src="../images/lightbox/thumb-1.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-slide-in-left
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/packaging.html">
										<img src="../images/lightbox/thumb-2.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-slide-in-right
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-slide-in-bottom" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/packaging.html">
										<img src="../images/lightbox/thumb-3.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-slide-in-bottom
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-img-slide-up" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="1">
									<a class="overlay-link" href="portfolio/packaging.html">
										<img src="../images/lightbox/thumb-4.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-img-slide-up
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-img-slide-left" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="1">
									<a class="overlay-link" href="portfolio/packaging.html">
										<img src="../images/lightbox/thumb-5.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-img-slide-left
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-img-slide-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="1">
									<a class="overlay-link" href="portfolio/packaging.html">
										<img src="../images/lightbox/thumb-6.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-img-slide-right
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-img-slide-down" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="1">
									<a class="overlay-link" href="portfolio/packaging.html">
										<img src="../images/lightbox/thumb-1.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-img-slide-down
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/packaging.html">
										<img src="../images/lightbox/thumb-2.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-scale-in
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-scale-in img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<a class="overlay-link" href="portfolio/packaging.html">
										<img src="../images/lightbox/thumb-3.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													.overlay-scale-in.img-scale-in
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="column width-12">
								<h5>Animation Classes</h5>
								<div class="row">
									<div class="column width-4">
										<ul>
											<li>.overlay-fade-out</li>
											<li>.overlay-fade-in</li>
											<li>.img-scale-in</li>
											<li>.overlay-fade-img-scale-in</li>
											<li>.overlay-fade-img-scale-out</li>
											<li>.overlay-slide-in-top</li>
											<li>.overlay-slide-in-left</li>
										</ul>
									</div>
									<div class="column width-4">
										<ul>
											<li>.overlay-slide-in-right</li>
											<li>.overlay-slide-in-bottom</li>
											<li>.overlay-img-slide-up</li>
											<li>.overlay-img-slide-left</li>
											<li>.overlay-img-slide-right</li>
											<li>.overlay-img-slide-down</li>
											<li>.overlay-scale-in</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail overlay-slide-in-right">
										<a href="URL" class="overlay-link">
											<img src="images/thumbnail.jpg" alt="">
											<span class="overlay-info">
												<span>
													<span>
															Content
													</span>
												</span>
											</span>
										</a>
									</div>
								</code>
							</pre>
						</div>
						<h5 id="rollovers-linked-content">Linked Content</h5>
						<p>Style rollovers further by adding components such as buttons and/or icons.</p>
						<div class="row content-grid-2">
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<span class="overlay-link">
										<img src="../images/lightbox/thumb-1.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													<a href="#" style="margin:0 5px 0 0" class="button rounded border-white bkg-hover-white small">View</a><a href="#" style="margin:0;" class="button rounded bkg-white bkg-hover-turquoise-light color-hover-white small">Share</a>
												</span>
											</span>
										</span>
									</span>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-slide-in-right" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.8">
									<span class="overlay-link">
										<img src="../images/lightbox/thumb-2.jpg" alt="" />
										<span class="overlay-info">
											<span>
												<span>
													<span class="weight-light">Socialize with us</span><br><br>
													<a href="#" class="icon-instagram color-white color-hover-instagram" style="margin:0 15px 0 0; font-size:17px;"></a>
													<a href="#" class="icon-dribbble color-white color-hover-dribbble" style="margin:0 15px 0 0; font-size:17px;"></a>
													<a href="#" class="icon-twitter color-white color-hover-twitter" style="font-size:17px;"></a>
												</span>
											</span>
										</span>
									</span>
								</div>
							</div>
						</div>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail overlay-slide-in-right">
										<span class="overlay-link">
											<img src="images/thumbnail.jpg" alt="">
											<span class="overlay-info">
												<span>
													<span>
															<a href="URL" class="button border-white color-white rounded">Button Text</a>
													</span>
												</span>
											</span>
										</span>
									</div>
								</code>
							</pre>
						</div>
						<h5 id="rollovers-attributes">Rollover Attributes <span class="label bkg-red color-white rounded small">New</span></h5>
						<p>Control the rollover speed, easing, color and opacity through the following attributes: <span class="label bkg-grey color-charcoal rounded">data-hover-speed</span>, <span class="label bkg-grey color-charcoal rounded">data-hover-easing</span>, <span class="label bkg-grey color-charcoal rounded">data-hover-bkg-color</span> and <span class="label bkg-grey color-charcoal rounded">data-hover-bkg-opacity</span>.</p>
						<div class="row content-grid-3">
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-scale-in" data-hover-easing="easeInOut" data-hover-speed="400" data-hover-bkg-color="#000000" data-hover-bkg-opacity="0.5">
									<a href="#" class="overlay-link">
										<img src="../images/lightbox/thumb-1.jpg" alt=""/>
										<span class="overlay-info">
											<span>
												<span>
													View
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-scale-in" data-hover-easing="easeInOut" data-hover-speed="800" data-hover-bkg-color="#ff6666" data-hover-bkg-opacity="1">
									<a href="#" class="overlay-link">
										<img src="../images/lightbox/thumb-2.jpg" alt="" />
										<span class="overlay-info">
											<span>
												<span>
													View
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail no-margin-bottom overlay-scale-in" data-hover-easing="easeInOut" data-hover-speed="1400" data-hover-bkg-color="#81a936" data-hover-bkg-opacity="1">
									<a href="#" class="overlay-link">
										<img src="../images/lightbox/thumb-3.jpg" alt="" />
										<span class="overlay-info">
											<span>
												<span>
													View
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
						</div>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="thumbnail overlay-scale-in" data-hover-speed="700" data-hover-easing="easeInOut" data-hover-bkg-color="000000" data-hover-bkg-opacity="0.8">
										<a href="URL" class="overlay-link">
											<img src="images/thumbnail.jpg" alt="">
											<span class="overlay-info">
												<span>
													<span>
															Content
													</span>
												</span>
											</span>
										</a>
									</div>
								</code>
							</pre>
						</div>
						<div class="box warning rounded">
							<p><strong>Important:</strong> Overlay background color should be entered as a hexadecimal color i.e. #000000. <strong>Do not use shorthand hexadecimal colors i.e. #000</strong>.</p>
						</div>
						<hr>
						<h2 id="image-grid">Images Grids</h2>
						<p>Create simple responsive image grids on the fly. Choose between one, two, three, four, five and six columns.</p>
						<h5 id="grid-margins">With Margins</h5>
						<div class="row content-grid-3">
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-1.jpg" alt=""/>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-2.jpg" alt=""/>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-3.jpg" alt=""/>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-4.jpg" alt=""/>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-5.jpg" alt=""/>
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-6.jpg" alt=""/>
								</div>
							</div>
						</div>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="row content-grid-3">
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item humbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
									</div>
								</code>
							</pre>
						</div>
						<h5 id="image-grid-marginless">Marginless</h5>
						<p>Optionally create a marginless grid by adding the <span class="label bkg-grey color-charcoal rounded">.no-margins</span> class to the image grid wrapper.</p>
						<div class="row content-grid-3 no-margins">
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-1.jpg" alt="">
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-2.jpg" alt="">
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-3.jpg" alt="">
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-4.jpg" alt="">
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-5.jpg" alt="">
								</div>
							</div>
							<div class="grid-item">
								<div class="thumbnail">
									<img src="../images/lightbox/thumb-6.jpg" alt="">
								</div>
							</div>
						</div>
						<h6 class="code-snippet-title mt-30">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<div class="row content-grid-3 no-margins">
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item humbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
										<div class="grid-item thumbnail">
											<img src="images/thumbnail.jpg" alt="">
										</div>
									</div>
								</code>
							</pre>
						</div>
					</div>
					<aside class="sidebar column width-3 pull-9">
						<h3 class="widget-title">Components</h3>
						<ul class="list-group width-11">
							<li>
								<a href="grid.html">Grid</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
							<li>
								<a href="navigation.html">Navigation</a>
							</li>
							<li>
								<a href="blockquotes.html">Blockquotes</a>
							</li>
							<li>
								<a href="feature-columns.html">Feature Columns</a>
							</li>
							<li>
								<a href="lists.html">Lists</a>
							</li>
							<li>
								<a href="buttons.html">Buttons</a>
							</li>
							<li>
								<a href="labels.html">Labels</a>
							</li>
							<li>
								<a href="dropdown.html">Dropdown</a>
							</li>
							<li>
								<a href="accordion.html">Accordion </a>
							</li>
							<li>
								<a href="tabs.html">Tabs</a>
							</li>
							<li>
								<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
							</li>
							<li>
								<a href="boxes.html">Boxes</a>
							</li>
							<li>
								<a href="progress-bar.html">Progress Bars</a>
							</li>
							<li class="current">
								<span class="icon-right-open-mini"></span>
								<a href="images.html">Images</a>
							</li>
							<li>
								<a href="video.html">Video &amp; Audio</a>
							</li>
							<li>
								<a href="tables.html">Tables</a>
							</li>
							<li>
								<a href="pricing-tables.html">Pricing Tables</a>
							</li>
							<li>
								<a href="form-elements.html">Form Elements</a>
							</li>
							<li>
								<a href="icons.html">Icons</a>
							</li>
						</ul>
						<h3 class="widget-title">Classes</h3>
						<ul class="list-group width-11">
							<li>
								<a href="styling-classes.html">Styling Classes</a>
							</li>
							<li>
								<a href="helper-classes.html">Helper Classes</a>
							</li>
						</ul>
						<h3 class="widget-title">Plugins</h3>
						<ul class="list-group width-11">
							<li>
								<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
						</ul>
					</aside>
				</div>
			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="row large center">
					<div class="column width-12">
						<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
						<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
						<nav id="footer-navigation" class="navigation nav-center">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
						<p><span class="version-number">Current Version</span></p>
						<p class="copyright">&copy; 2016 THEMEMOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
						<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
					</div>
				</div> 
			</footer>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
	<script type="text/javascript">
		$( document ).ready( function() {
			$( 'img' ).retinizeImages();
			$( '.horizon' ).horizon({
				easing: 'swing'
			});
		});
	</script>
</body>
</html>