<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Lists | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/core.min.css" />

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation">
					<ul>
						<li>
							<a href="../index.html">Get Started</a>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Components</a>
							<ul class="sub-menu">
								<li>
									<a href="grid.html">Grid</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
								<li>
									<a href="navigation.html">Navigation</a>
								</li>
								<li>
									<a href="blockquotes.html">Blockquotes</a>
								</li>
								<li>
									<a href="feature-columns.html">Feature Columns</a>
								</li>
								<li class="current">
									<a href="lists.html">Lists</a>
								</li>
								<li>
									<a href="buttons.html">Buttons</a>
								</li>
								<li>
									<a href="labels.html">Labels</a>
								</li>
								<li>
									<a href="dropdown.html">Dropdown</a>
								</li>
								<li>
									<a href="accordion.html">Accordion </a>
								</li>
								<li>
									<a href="tabs.html">Tabs</a>
								</li>
								<li>
									<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
								</li>
								<li>
									<a href="boxes.html">Boxes</a>
								</li>
								<li>
									<a href="images.html">Images</a>
								</li>
								<li>
									<a href="video.html">Video &amp; Audio</a>
								</li>
								<li>
									<a href="tables.html">Tables</a>
								</li>
								<li>
									<a href="pricing-tables.html">Pricing Tables</a>
								</li>
								<li>
									<a href="form-elements.html">Form Elements</a>
								</li>
								<li>
									<a href="icons.html">Icons</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Classes</a>
							<ul class="sub-menu">
								<li>
									<a href="styling-classes.html">Styling Classes</a>
								</li>
								<li>
									<a href="helper-classes.html">Helper Classes</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Plugins</a>
							<ul class="sub-menu">
								<li>
									<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">The Mountain</a>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		<div class="wrapper-inner">
		
			<!-- Header -->
			<header class="nav-bar nav-main">
				<div class="row">
					<div class="column width-12">
						<div class="logo">
							<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
						</div>
						<nav class="navigation nav-block secondary-navigation nav-right no-margin-left">
							<ul>
								<li class="aux-navigation hide">
									<!-- Aux Navigation -->
									<a href="#" class="navigation-show side-nav-show nav-icon">
										<span class="icon-menu"></span>
									</a>
								</li>
							</ul>
						</nav>
						<nav class="navigation nav-block primary-navigation nav-right">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="components/grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">
				<div class="section-block intro-title-1 small">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<h1>Lists</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row large">
					<div class="column width-9 push-3">
						<h2 id="unordered">Unordered Lists</h2>
						<p>Unordered lists can take the following addtional classes <span class="label bkg-grey color-charcoal rounded">.circle</span> and <span class="label bkg-grey color-charcoal rounded">.square</span>.</p>
						<div class="row">
							<div class="column width-4">
								<h4>Regular</h4>
								<ul class="disc">
									<li>Sed ut perspiciatis</li>
									<li>Lorem ipsum dolor
										<ul>
											<li>Accusantium</li>
											<li>Ratione voluptatem</li>
										</ul>
									</li>
									<li>Sed quia non</li>
									<li>Neque porro quisquam</li>
								</ul>
							</div>
							<div class="column width-4">
								<h4>Circle</h4>
								<ul class="circle">
									<li>Sed ut perspiciatis</li>
									<li>Lorem ipsum dolor
										<ul>
											<li>Accusantium</li>
											<li>Ratione voluptatem</li>
										</ul>
									</li>
									<li>Sed quia non</li>
									<li>Neque porro quisquam</li>
								</ul>
							</div>
							<div class="column width-4">
								<h4>Square</h4>
								<ul class="square">
									<li>Sed ut perspiciatis</li>
									<li>Lorem ipsum dolor
										<ul>
											<li>Accusantium</li>
											<li>Ratione voluptatem</li>
										</ul>
									</li>
									<li>Sed quia non</li>
									<li>Neque porro quisquam</li>
								</ul>
							</div>
						</div>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<ul class="disc">
										<li>...</li>
										<li>...</li>
									</ul>
								</code>
							</pre>
						</div>
						<hr>
						<h2 id="ordered">Ordered Lists</h2>
						<p>Ordered lists can take the following additional classes <span class="label bkg-grey color-charcoal rounded">.upper-roman</span> and <span class="label bkg-grey color-charcoal rounded">.lower-alpha</span>.</p>
						<div class="row">
							<div class="column width-4">
								<h4>Decimal</h4>
								<ol>
									<li>Sed ut perspiciatis</li>
									<li>Lorem ipsum dolor
										<ol>
											<li>Accusantium</li>
											<li>Ratione voluptatem</li>
										</ol>
									</li>
									<li>Sed quia non</li>
									<li>Neque porro quisquam</li>
								</ol>
							</div>
							<div class="column width-4">
								<h4>Upper Roman</h4>
								<ol class="upper-roman">
									<li>Sed ut perspiciatis</li>
									<li>Lorem ipsum dolor
										<ol>
											<li>Accusantium</li>
											<li>Ratione voluptatem</li>
										</ol>
									</li>
									<li>Sed quia non</li>
									<li>Neque porro quisquam</li>
								</ol>
							</div>
							<div class="column width-4">
								<h4>Lower Alpha</h4>
								<ol class="lower-alpha">
									<li>Sed ut perspiciatis</li>
									<li>Lorem ipsum dolor
										<ol>
											<li>Accusantium</li>
											<li>Ratione voluptatem</li>
										</ol>
									</li>
									<li>Sed quia non</li>
									<li>Neque porro quisquam</li>
								</ol>
							</div>
						</div>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<ul class="upper-roman">
										<li>...</li>
										<li>...</li>
									</ul>
								</code>
							</pre>
						</div>
						<hr>
						<h2 id="icon">Icon Lists</h2>
						<div class="row">
							<div class="column width-4">
								<ul>
									<li><span class="icon-check"></span>Sed ut perspiciatis</li>
									<li><span class="icon-check"></span>Lorem ipsum dolor
										<ul>
											<li><span class="icon-check"></span>Accusantium</li>
											<li><span class="icon-check"></span>Ratione voluptatem</li>
										</ul>
									</li>
									<li><span class="icon-check"></span>Sed quia non</li>
									<li><span class="icon-check"></span>Neque porro quisquam</li>
								</ul>
							</div>
							<div class="column width-4">
								<ul>
									<li><span class="icon-inbox"></span>Sed ut perspiciatis</li>
									<li><span class="icon-down-open-big"></span>Lorem ipsum dolor
										<ul>
											<li><span class="icon-right"></span>Accusantium</li>
											<li><span class="icon-email"></span>Ratione voluptatem</li>
										</ul>
									</li>
									<li><span class="icon-music"></span>Sed quia non</li>
									<li><span class="icon-document"></span>Neque porro quisquam</li>
								</ul>
							</div>
							<div class="column width-4">
								<ul>
									<li><span class="icon-play"></span>Sed ut perspiciatis</li>
									<li><span class="icon-user"></span>Lorem ipsum dolor
										<ul>
											<li><span class="icon-image"></span>Accusantium</li>
											<li><span class="icon-cloud"></span>Ratione voluptatem</li>
										</ul>
									</li>
									<li><span class="icon-loop"></span>Sed quia non</li>
									<li><span class="icon-star"></span>Neque porro quisquam</li>
								</ul>
							</div>
						</div>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<ul>
										<li><span class="icon-check"></span>...</li>
										<li><span class="icon-check"></span>...</li>
									</ul>
								</code>
							</pre>
						</div>
						<hr>
						<h2 id="groups">List Groups</h2>
						<p>Grouped lists are created by adding the class <span class="label bkg-grey color-charcoal rounded">.list-group</span> to the ul or ol. It can be styled further by adding the class <span class="label bkg-grey color-charcoal rounded">.boxed</span> which will add a border to all its children. Like other compoenents groups lists can be altered in size by applying on of the following size classes: <span class="label bkg-grey color-charcoal rounded">.small</span>, <span class="label bkg-grey color-charcoal rounded">.medium</span>, <span class="label bkg-grey color-charcoal rounded">.large</span> and <span class="label bkg-grey color-charcoal rounded">.xlarge</span>.</p>
						<div class="row">
							<div class="column width-6">
								<h4>Simple</h4>
								<ul class="list-group dashed">
									<li><span class="icon-check"></span>Sed ut perspiciatis</li>
									<li><span class="icon-check"></span>Lorem ipsum dolor
										<ul>
											<li><span class="icon-check"></span>Accusantium</li>
											<li><span class="icon-check"></span>Ratione voluptatem
												<ul>
													<li><span class="icon-check"></span>Accusantium</li>
													<li><span class="icon-check"></span>Ratione voluptatem</li>
												</ul>
											</li>
										</ul>
									</li>
									<li><span class="icon-check"></span>Sed quia non</li>
									<li><span class="icon-check"></span>Neque porro quisquam</li>
									<li><span class="icon-check"></span>Sed quia non</li>
									<li><span class="icon-check"></span>Neque porro quisquam</li>
								</ul>
							</div>
							<div class="column width-6">
								<h4>Boxed</h4>
								<ul class="list-group boxed large rounded dashed">
									<li><span class="icon-check"></span>Sed ut perspiciatis</li>
									<li><span class="icon-check"></span>Lorem ipsum dolor
										<ul>
											<li><span class="icon-check"></span>Accusantium</li>
											<li><span class="icon-check"></span>Ratione voluptatem
												<ul>
													<li><span class="icon-check"></span>Accusantium</li>
													<li><span class="icon-check"></span>Ratione voluptatem</li>
												</ul>
											</li>
										</ul>
									</li>
									<li><span class="icon-check"></span>Sed quia non</li>
									<li><span class="icon-check"></span>Neque porro quisquam</li>
								</ul>
							</div>
						</div>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<ul class="list-group boxed rounded large dashed">
										<li><span class="icon-check"></span>...</li>
										<li><span class="icon-check"></span>...</li>
									</ul>
								</code>
							</pre>
						</div>
					</div>
					<aside class="sidebar column width-3 pull-9">
						<h3 class="widget-title">Components</h3>
						<ul class="list-group width-11">
							<li>
								<a href="grid.html">Grid</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
							<li>
								<a href="navigation.html">Navigation</a>
							</li>
							<li>
								<a href="blockquotes.html">Blockquotes</a>
							</li>
							<li>
								<a href="feature-columns.html">Feature Columns</a>
							</li>
							<li class="current">
								<span class="icon-right-open-mini"></span>
								<a href="lists.html">Lists</a>
							</li>
							<li>
								<a href="buttons.html">Buttons</a>
							</li>
							<li>
								<a href="labels.html">Labels</a>
							</li>
							<li>
								<a href="dropdown.html">Dropdown</a>
							</li>
							<li>
								<a href="accordion.html">Accordion </a>
							</li>
							<li>
								<a href="tabs.html">Tabs</a>
							</li>
							<li>
								<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
							</li>
							<li>
								<a href="boxes.html">Boxes</a>
							</li>
							<li>
								<a href="progress-bar.html">Progress Bars</a>
							</li>
							<li>
								<a href="images.html">Images</a>
							</li>
							<li>
								<a href="video.html">Video &amp; Audio</a>
							</li>
							<li>
								<a href="tables.html">Tables</a>
							</li>
							<li>
								<a href="pricing-tables.html">Pricing Tables</a>
							</li>
							<li>
								<a href="form-elements.html">Form Elements</a>
							</li>
							<li>
								<a href="icons.html">Icons</a>
							</li>
						</ul>
						<h3 class="widget-title">Classes</h3>
						<ul class="list-group width-11">
							<li>
								<a href="styling-classes.html">Styling Classes</a>
							</li>
							<li>
								<a href="helper-classes.html">Helper Classes</a>
							</li>
						</ul>
						<h3 class="widget-title">Plugins</h3>
						<ul class="list-group width-11">
							<li>
								<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
						</ul>
					</aside>
				</div>
			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="row large center">
					<div class="column width-12">
						<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
						<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
						<nav id="footer-navigation" class="navigation nav-center">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
						<p><span class="version-number">Current Version</span></p>
						<p class="copyright">&copy; 2016 THEMEMOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
						<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
					</div>
				</div> 
			</footer>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
</body>
</html>