<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">
	<title>Snowbridge Parallax | Timber Framework</title>
	<link rel="shortcut icon" type="image/x-icon" href="../images/theme-mountain-favicon.ico">
	
	<!-- Css -->
	<link rel="stylesheet" href="../css/core.min.css" />

	<!-- Font -->
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700%7CLato:300,400,700' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
    	<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

	<!-- Mobile Menu -->
	<aside class="side-navigation-wrapper enter-right" data-no-scrollbar data-animation="push-in">
		<div class="side-navigation-scroll-pane">
			<div class="side-navigation-inner">
				<div class="side-navigation-header">
					<div class="logo">
						<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
					</div>
					<div class="navigation-hide side-nav-hide">
						<a href="#">
							<span class="icon-cancel medium"></span>
						</a>
					</div>
				</div>
				<nav class="side-navigation">
					<ul>
						<li>
							<a href="../index.html">Get Started</a>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Components</a>
							<ul class="sub-menu">
								<li>
									<a href="grid.html">Grid</a>
								</li>
								<li>
									<a href="typography.html">Typography</a>
								</li>
								<li>
									<a href="navigation.html">Navigation</a>
								</li>
								<li>
									<a href="blockquotes.html">Blockquotes</a>
								</li>
								<li>
									<a href="feature-columns.html">Feature Columns</a>
								</li>
								<li>
									<a href="lists.html">Lists</a>
								</li>
								<li>
									<a href="buttons.html">Buttons</a>
								</li>
								<li>
									<a href="labels.html">Labels</a>
								</li>
								<li>
									<a href="dropdown.html">Dropdown</a>
								</li>
								<li>
									<a href="accordion.html">Accordion </a>
								</li>
								<li>
									<a href="tabs.html">Tabs</a>
								</li>
								<li>
									<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
								</li>
								<li>
									<a href="boxes.html">Boxes</a>
								</li>
								<li>
									<a href="images.html">Images</a>
								</li>
								<li>
									<a href="video.html">Video &amp; Audio</a>
								</li>
								<li>
									<a href="tables.html">Tables</a>
								</li>
								<li>
									<a href="pricing-tables.html">Pricing Tables</a>
								</li>
								<li>
									<a href="form-elements.html">Form Elements</a>
								</li>
								<li>
									<a href="icons.html">Icons</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Classes</a>
							<ul class="sub-menu">
								<li>
									<a href="styling-classes.html">Styling Classes</a>
								</li>
								<li>
									<a href="helper-classes.html">Helper Classes</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#" class="contains-sub-menu">Plugins</a>
							<ul class="sub-menu">
								<li>
									<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li class="current">
									<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
								</li>
								<li>
									<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
								<li>
									<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">The Mountain</a>
						</li>
					</ul>
				</nav>
				<div class="side-navigation-footer">
					<p class="copyright no-margin-bottom">&copy; 2014 THEMEMOUNTAIN.</p>
				</div>
			</div>
		</div>
	</aside>
	<!-- Mobile Menu End -->

	<div class="wrapper">
		<div class="wrapper-inner">
		
			<!-- Header -->
			<header class="nav-bar nav-main">
				<div class="row">
					<div class="column width-12">
						<div class="logo">
							<a class="weight-light" href="../index.html"><strong>Timber</strong> Framework</a>
						</div>
						<nav class="navigation nav-block secondary-navigation nav-right no-margin-left">
							<ul>
								<li class="aux-navigation hide">
									<!-- Aux Navigation -->
									<a href="#" class="navigation-show side-nav-show nav-icon">
										<span class="icon-menu"></span>
									</a>
								</li>
							</ul>
						</nav>
						<nav class="navigation nav-block primary-navigation nav-right">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="components/grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</header>
			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">
				<div class="parallax" data-src="../images/slider/slide-4-fs.jpg">
					<div class="tmp-content center">
						<div class="tmp-content-inner">
							<h1 style="color:white">Snowbridge Parallax</h1>
							<p class="lead" style="color:white">A Simple Parallax Plugin</p>
						</div>
					</div>
				</div>
				<div class="row large">
					<div class="column width-9 push-3">
						<div class="clear"></div>
						<h2 id="snowbridge">Responsive Parallax Sections</h2>
						<p>Snowbridge is a 100% responsive and CSS3 transition driven parallax plugin. Ideal for highlighting key information or full sections.</p>
						<hr>
						<h3 id="resource-files">Resource Files</h3>
						<p>Snowbridge requires the following resource files:</p>
						<h6 class="code-snippet-title">Css</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<link rel="stylesheet" href="css/snowbridge.css" />
								</code>
							</pre>
						</div>
						<h6 class="code-snippet-title">Js</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="html">
									<script type="text/javascript" src="js/jquery-1.12.4.min.js"></script>
									<script type="text/javascript" src="js/jquery.tm.snowbridge.min.js"></script>
								</code>
							</pre>
						</div>
						<hr>
						<div class="row">
							<div class="column width-12">
								<h3 id="image">Parallax Image</h3>
								<p>Snowbridge requires that the parallax image be specified using the <span class="label bkg-grey color-charcoal rounded">data-src</span> attribute on the parallax wrapper. An initial height for the parallax section should be added to the class used for the parallax section. For illustrative purposes only it has been added as an inline style. Optionally use the classes <span class="label bkg-grey color-charcoal rounded">.tmp-content</span> and <span class="label bkg-grey color-charcoal rounded">.tmp-content-inner</span> to center content within a parallax section.</p>
								<p>Parallax captions or content can be horizontally aligned using text aligning classes such as <span class="label bkg-grey color-charcoal rounded">.left</span>, <span class="label bkg-grey color-charcoal rounded">.center</span>, <span class="label bkg-grey color-charcoal rounded">.right</span> and vertically aligned by applying vertical align classes such as <span class="label bkg-grey color-charcoal rounded">.v-align-top</span> and <span class="label bkg-grey color-charcoal rounded">.v-align-bottom</span>. These classes should be applied to the <span class="label bkg-grey color-charcoal rounded">.tmp-content-inner</span> wrapper.</p>
								<h6 class="code-snippet-title">Example</h6>
								<div class="box large rounded code-snippet">
									<pre>
										<code class="html">
											<div class="parallax" data-src="images/parallax-image.jpg" style="height:600px;">
												<div class="tmp-content">
													<div class="tmp-content-inner left v-aligned-top">
														<h5>Title</h5>
														<p>Content</p>
													</div>
												</div>
											</div>
										</code>
									</pre>
								</div>
							</div>
						</div>
						<div class="box warning rounded">
							<p><strong>Important:</strong> If retina is supported (i.e. retinaSupport = true ), two images must be provided, the original and the retina version. For example, if your parallax image is named <strong>"parallax-image.jpg"</strong>, the corresponding retina version should be named <strong>"parallax-image@2x.jpg"</strong> using the @2x suffix. Also ensure that the retina version should is twice the size of the original image.</p>
						</div>
					</div>
					<aside class="sidebar column width-3 pull-9">
						<h3 class="widget-title">Components</h3>
						<ul class="list-group width-11">
							<li>
								<a href="grid.html">Grid</a>
							</li>
							<li>
								<a href="typography.html">Typography</a>
							</li>
							<li>
								<a href="navigation.html">Navigation</a>
							</li>
							<li>
								<a href="blockquotes.html">Blockquotes</a>
							</li>
							<li>
								<a href="feature-columns.html">Feature Columns</a>
							</li>
							<li>
								<a href="feature-columns.html">Feature Columns</a>
							</li>
							<li>
								<a href="lists.html">Lists</a>
							</li>
							<li>
								<a href="buttons.html">Buttons</a>
							</li>
							<li>
								<a href="labels.html">Labels</a>
							</li>
							<li>
								<a href="dropdown.html">Dropdown</a>
							</li>
							<li>
								<a href="accordion.html">Accordion </a>
							</li>
							<li>
								<a href="tabs.html">Tabs</a>
							</li>
							<li>
								<a href="timeline.html">Timeline <span class="label bkg-grey color-charcoal rounded small">New</span></a>
							</li>
							<li>
								<a href="boxes.html">Boxes</a>
							</li>
							<li>
								<a href="progress-bar.html">Progress Bars</a>
							</li>
							<li>
								<a href="images.html">Images</a>
							</li>
							<li>
								<a href="video.html">Video &amp; Audio</a>
							</li>
							<li>
								<a href="tables.html">Tables</a>
							</li>
							<li>
								<a href="pricing-tables.html">Pricing Tables</a>
							</li>
							<li>
								<a href="form-elements.html">Form Elements</a>
							</li>
							<li>
								<a href="icons.html">Icons</a>
							</li>
						</ul>
						<h3 class="widget-title">Classes</h3>
						<ul class="list-group width-11">
							<li>
								<a href="styling-classes.html">Styling Classes</a>
							</li>
							<li>
								<a href="helper-classes.html">Helper Classes</a>
							</li>
						</ul>
						<h3 class="widget-title">Plugins</h3>
						<ul class="list-group width-11">
							<li>
								<a href="avalanche-slider.html">Avalanche Slider <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="summit-lightbox.html">Summit Lightbox <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li class="current">
								<span class="icon-right-open-mini"></span>
								<a href="snowbridge-parallax.html">Snowbridge Parallax <span class="label bkg-purple-light color-white rounded small">Premium</span></a>
							</li>
							<li>
								<a href="horizon-reveal.html">Horizon Reveal <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="equalize-heights.html">Equalize Heights <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="retinize-images.html">Retinize Images <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="counter.html">Counter <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
							<li>
								<a href="swipe.html">Swipe It <span class="label bkg-green color-white rounded small">Free</span></a>
							</li>
						</ul>
					</aside>
				</div>
				<div class="parallax" data-src="../images/slider/slide-5-fs.jpg">
					<div class="tmp-content center">
						<div class="tmp-content-inner">
							<h1 style="color:white">Initializing Snowbridge</h1>
							<p class="lead" style="color:white">Plugin Parameters</p>
						</div>
					</div>
				</div>
				<div class="row large">
					<div class="column width-9 push-3">
						<h3 id="usage">Snowbridge Usage</h3>
						<p>To call the Snowbridge Plugin on one or multiple elements the following call should be added before the closing body tag on document ready.</p>
						<h6 class="code-snippet-title">Example</h6>
						<div class="box large rounded code-snippet">
							<pre>
								<code class="js">
									$( document ).ready( function({
										$( '.parallax' ).snowbridge();
									});
								</code>
							</pre>
						</div>
						<div class="row">
							<div class="column width-12">
								<table class="table rounded large">
									<thead>
										<tr>
											<th>Attribute</th>
											<th>Values</th>
											<th>Default</th>
											<th>Description</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>fullscreen</td>
											<td>boolean</td>
											<td>false</td>
											<td>Forces parallax sections to take width and height of viewport</td>
										</tr>
										<tr>
											<td>parallaxFactor</td>
											<td>integer</td>
											<td>0.6</td>
											<td>Sets the parallax speed</td>
										</tr>
										<tr>
											<td>fadeInOut</td>
											<td>boolean</td>
											<td>true</td>
											<td>Determines whether parallax sections should fade in/out when entering/exiting the viewport</td>
										</tr>
										<tr>
											<td>fadeThreshold</td>
											<td>integer</td>
											<td>0.5</td>
											<td>Determines the threshold for how long the fade transition should occur i.e. 0.5 represents 50% of the parallax section height</td>
										</tr>
										<tr>
											<td>scaleContainer</td>
											<td>boolean</td>
											<td>true</td>
											<td>Determines if the parllax container should scale or not</td>
										</tr>
										<tr>
											<td>scaleUnder</td>
											<td>integer</td>
											<td>1140</td>
											<td>Width under which parallax section should start scaling</td>
										</tr>
										<tr>
											<td>retinaSupport</td>
											<td>boolean</td>
											<td>true</td>
											<td>Whether plugin should serve retina images for retina displays. Affects all images. Alternatively us the data-retina attribute on the wrapper div to serve retina version of that particular image.</td>
										</tr>
										<tr>
											<td>retinaSupportMobile</td>
											<td>boolean</td>
											<td>false</td>
											<td>Whether the plugin should swap images on mobile retina enabled devices. Set to false by default to save bandwidth usage on mobile devices.</td>
										</tr>
										<tr>
											<td>retinaSuffix</td>
											<td>string</td>
											<td>'@2x'</td>
											<td>The suffix that will be added to the image url.</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="parallax" data-src="../images/slider/slide-7-fs.jpg">
					<div class="tmp-content center">
						<div class="tmp-content-inner">
							<h1 style="color:white">That's All Folks</h1>
						</div>
					</div>
				</div>
			</div>
			<!-- Content End -->

			<!-- Footer -->
			<footer class="footer">
				<div class="row large center">
					<div class="column width-12">
						<img src="../images/theme-mountain-logo.svg" alt="Theme Mountain" />
						<p class="footer-text">Handcrafted with <span class="icon-heart"></span> in the mountains.</p>
						<nav id="footer-navigation" class="navigation nav-center">
							<ul>
								<li>
									<a href="../index.html">Get Started</a>
								</li>
								<li class="current">
									<a href="grid.html">Toolkit</a>
								</li>
								<li>
									<a href="http://thememountain.com">The Mountain</a>
								</li>
								<li>
									<a class="mail-link" href="mailto:dev@thememountain.com">Issues</a>
								</li>
							</ul>
						</nav>
						<p><span class="version-number">Current Version</span></p>
						<p class="copyright">&copy; 2016 THEMEMOUNTAIN. <br>Framework licenced under MIT, plugins under CC BY-NC 3.0 unless otherwise specified.</p>
						<a href="#" class="scroll-to-top icon-up bkg-hover-white"></a>
					</div>
				</div> 
			</footer>
			<!-- End Footer -->
		</div>
	</div>

	<!-- Js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../js/timber.master.min.js"></script>
	<script type="text/javascript">
		$( document ).ready( function() {
			$( 'img' ).retinizeImages();
			$( '.parallax' ).snowBridge({
				fullscreen: false,
				scaleContainer: true,
				scaleUnder: 960,
				fadeInOut: false
			});
	 });
	</script>
</body>
</html>